<div class="contenu_aide">

    <div class="iconask">
        <i class="fas fa-download btn_item2 hover_btn3"></i>
        <p>Telecharger la liste de rendez-vous</p>
    </div>

    <div class="iconask">
        <i class="fas fa-times  btn_item2 hover_btn3"></i>
        <p>Fermer/Supprimer</p>
    </div>

    <div class="iconask">
        <i class="fas fa-check  btn_item2 hover_btn3"></i>
        <p>Valider/Confirmer</p>
    </div>

    <div class="iconask">
        <i class="fas fa-pen btn_item2  hover_btn3"></i>
        <p>Modifier information</p>
    </div>

    <div class="iconask">
        <i class="fas fa-forward  btn_item2 hover_btn3"></i>
        <p>Changer de fiche</p>
    </div>

    <div class="iconask">
        <i class="fas fa-plus btn_item2  hover_btn3"></i>
        <p>Voir plus d'options / Ajouter un élement</p>
    </div>

    <div class="iconask">
        <i class="fas fa-cog btn_item2  hover_btn3"></i>
        <p>Voir les paramètres</p>
    </div>

    <div class="iconask">
        <i class="fas fa-user-tag btn_item2  hover_btn3"></i>
        <p>Remplir le compte rendu du rdv</p>
    </div>
    <div class="iconask">
        <i class="fas fa-file-pdf  btn_item2  hover_btn3"></i>
        <p>Voir la fiche client</p>
    </div>

    <div class="iconask">
        <i class="fas fa-map-signs  btn_item2 hover_btn3"></i>
        <p>Ouvrir l'adresse avec GPS</p>
    </div>
    
    
    
    
    
    
    
    
    
    
    <div class="iconask">
        <i class="fas fa-user-friends "></i>
        <p>Situation familiale</p>
    </div>
    
    <div class="iconask">
        <i class="fas fa-restroom "></i>
        <p>Nombre d'adultes</p>
    </div>
    <div class="iconask">
        <i class="fas fa-baby "></i>
        <p>Nombre d'enfants</p>
    </div>
    <div class="iconask">
        <i class="fas fa-user-friends "></i>
        <p>Situation familiale</p>
    </div>
       
    <div class="iconask">
        <i class="fas fa-venus-mars "></i>
        <p>Civilité</p>
    </div>
    
    <div class="iconask">
        <i class="fas fa-briefcase "></i>
        <p>Emploi</p>
    </div>
    <div class="iconask">
        <i class="fas fa-business-time "></i>
        <p>Heure de fin de journée</p>
    </div>
    <div class="iconask">
        <i class="fas fa-user-clock "></i>
        <p>Age</p>
    </div>
</div>


































