<div class="options_rdv_ctn">
    <div class="open">
        <i class="fas fa-plus"></i>
    </div>

    <div class="btn_caches">
        <div id="<%= rdv.id %>" class="btn_item un rdv_btn_anim1_retour hover_btn3">
            <i class="fas fa-cog"></i>
        </div>
<!--
        <div class="btn_item deux rdv_btn_anim2_retour hover_btn3">
            <i class="fas fa-map-signs"></i>
        </div>
-->
        <div  id="<%= rdv.id %>" class="btn_item trois rdv_btn_anim3_retour hover_btn3">
            <i class="fas fa-file-pdf"></i>
        </div>
    </div>
</div>
