<!--    pour la page courante, ajouter la classe  "topbar_active" à la div qui a déjà la classe "topbar_hover" -->

<% if(ifAllowMenu('/commerciaux/tableau-de-bord')){ %>
<li id="commerciaux_dash_topbar">
    <a href="/commerciaux/tableau-de-bord">Tableau de bord</a>
    <div class="topbar_hover"></div>
</li>
<% } %>

<% if(ifAllowMenu('/directeur/tableau-de-bord')){ %>
    <li id="dirco_dash_topbar">
        <a href="/directeur/tableau-de-bord">Tableau de bord</a>
        <div class="topbar_hover"></div>
    </li>
<% } %>

<% if(ifAllowMenu('/commerciaux/ventes')){ %>
<li id="commerciaux_ventes_topbar">
    <a href="/commerciaux/ventes">Ventes</a>
    <div class="topbar_hover"></div>
</li>
<% } %>

<% if(ifAllowMenu('/directeur/agenda')){ %>
<li id="dirco_agenda_topbar">
    <a href="/directeur/agenda">Agenda</a>
    <div class="topbar_hover"></div>
</li>
<% } %>

<% if(ifAllowMenu('/directeur/rendez-vous')){ %>
<li id="dirco_rdv_topbar">
    <a href="/directeur/rendez-vous">RDV EQUIPE</a>
    <div class="topbar_hover"></div>
</li>
<% } %>

<% if(ifAllowMenu('/directeur/historique')){ %>
<li id="dirco_histo_topbar">
    <a href="/directeur/historique">Historique</a>
    <div class="topbar_hover"></div>
</li>
<% } %>


