 <!--    pour la page courante, ajouter la classe  "topbar_active" à la div qui a déjà la classe "topbar_hover" -->

<% if(ifAllowMenu('/teleconseiller/tableau-de-bord')){ %>
<li id="telec_dash_topbar">
    <a href="/teleconseiller/tableau-de-bord">Tableau de bord</a>
    <div class="topbar_hover"></div>
</li>
<% } %>



<% if(ifAllowMenu('/manager/tableau-de-bord')){ %>
<li id="manager_dash_topbar">
    <a href="/manager/tableau-de-bord">Tableau de bord</a>
    <div class="topbar_hover"></div>
</li>
<% } %>





<li id="manager_prospection_topbar">
    <a href="#">Prospection</a>
    <div class="topbar_hover"></div>

    <ul class="sousmenu sousmenu_prospecter">
       <% if(ifAllowMenu('/teleconseiller/prospection')){ %>
        <li>
            <a href="/teleconseiller/prospection">Prospecter</a>
        </li>
        <% } %>

        
        <% if(ifAllowMenu('/manager/liste-rendez-vous')){ %>
        <li>
            <a href="/manager/liste-rendez-vous">Liste RDV</a>
        </li>
        <% } %>

        
        <% if(ifAllowMenu('/manager/directives')){ %>
        <li>
            <a href="/manager/directives">Directives</a>
        </li>
        <% } %>

        
        <% if(ifAllowMenu('/teleconseiller/rechercher-client')){ %>
        <li>
            <a href="/teleconseiller/rechercher-client">Rechercher prospect</a>
        </li>
        <% } %>
 
        <% if(ifAllowMenu('/teleconseiller/ajouter-client')){ %>
        <li>
            <a href="/teleconseiller/ajouter-client">Ajouter prospect</a>
        </li>
        <% } %>

        
        <% if(ifAllowMenu('/teleconseiller/rappels')){ %> 
        <li>
            <a href="/teleconseiller/rappels">Rappels</a>
        </li>
        <% } %>
        
        <% if(ifAllowMenu('/teleconseiller/a_repositionner')){ %>
        <li>
            <a href="/teleconseiller/a_repositionner">A repositionner</a>
        </li>
        <% } %>

    </ul>

</li>


<% if(ifAllowMenu('/teleconseiller/agenda')){ %>
<li id="telec_agenda_topbar">
    <a href="/teleconseiller/agenda">Agenda</a>
    <div class="topbar_hover"></div>
</li>
<% } %>


<% if(ifAllowMenu('/manager/agenda')){ %>
<li id="manager_agenda_topbar">
    <a href="/manager/agenda">Agenda</a>
    <div class="topbar_hover"></div>
</li>
<% } %>


<% if(ifAllowMenu('/manager/objectifs')){ %>
<li id="manager_objectifs_topbar">
    <a href="/manager/objectifs">Objectifs</a>
    <div class="topbar_hover"></div>
</li>
<% } %>




