 <!--    pour la page courante, ajouter la classe  "topbar_active" à la div qui a déjà la classe "topbar_hover" -->











 <% if(ifAllowMenu('/parametres/commerciaux') || ifAllowMenu('/parametres/commerciaux')){ %>
<li id="param_commerciaux_topbar">
    <a href="#">Commerciaux</a>
    <div class="topbar_hover"></div>

    <ul class="sousmenu sousmenu_commerciaux">
       <% if(ifAllowMenu('/parametres/commerciaux')){ %>
        <li>
            <a href="/parametres/commerciaux">Hierarchie</a>
        </li>
        <% } %>

        
        <% if(ifAllowMenu('/parametres/attributions')){ %>
        <li>
            <a href="/parametres/attributions">Attributions</a>
        </li>
        <% } %>

    </ul>

</li>
               <% } %>


       <% if(ifAllowMenu('/parametres/telemarketing') || ifAllowMenu('/parametres/telemarketing')){ %>

<li id="param_marketing_topbar">
    <a href="#">Télémarketing</a>
    <div class="topbar_hover"></div>

    <ul class="sousmenu sousmenu_telemarketing"> 
       <% if(ifAllowMenu('/parametres/telemarketing')){ %>
        <li>
            <a href="/parametres/telemarketing">Hierarchie</a>
        </li>
        <% } %>

        
        <% if(ifAllowMenu('/parametres/secteurs')){ %>
        <li>
            <a href="/parametres/secteurs">Secteurs</a>
        </li>
        <% } %>
    
        <% if(ifAllowMenu('/parametres/secteurs_structures')){ %>
        <li>
            <a href="/parametres/secteurs_structures">Secteurs par structures</a>
        </li>
        <% } %>
 
        <% if(ifAllowMenu('/parametres/sources')){ %>
        <li>
            <a href="/parametres/sources">Sources et types</a>
        </li>
        <% } %>

    </ul>

</li>
        <% } %>


       <% if(ifAllowMenu('/parametres/utilisateurs') || ifAllowMenu('/parametres/utilisateurs')){ %>

<li id="param_utilisateurs_topbar">
    <a href="#">Utilisateurs</a>
    <div class="topbar_hover"></div>

    <ul class="sousmenu sousmenu_utilisateurs">
       <% if(ifAllowMenu('/parametres/utilisateurs')){ %>
        <li>
            <a href="/parametres/utilisateurs">Liste</a>
        </li>
        <% } %>

        
        <% if(ifAllowMenu('/parametres/privileges')){ %>
        <li>
            <a href="/parametres/privileges">Rôles Privilèges</a>
        </li>
        <% } %>

    </ul>
 
</li>
        <% } %>





<% if(ifAllowMenu('/parametres/mon_compte')){ %>
<li id="param_moncompte_topbar">
    <a href="/parametres/mon_compte">Mon Compte</a>
    <div class="topbar_hover"></div>
</li>
<% } %>


