<!--    pour la page courante, ajouter la classe  "topbar_active" à la div qui a déjà la classe "topbar_hover" -->


<li id="param_commerciaux_topbar">
    <a href="/parametres/commerciaux">Commerciaux</a>
    <div class="topbar_hover"></div>
</li>

<li id="param_marketing_topbar">
    <a href="/parametres/telemarketing">Télémarketing</a>
    <div class="topbar_hover"></div>
</li>


<li id="param_secteurs_topbar">
    <a href="/parametres/secteurs">Secteurs</a>
    <div class="topbar_hover"></div>
</li>

<li id="param_utilisateurs_topbar">
    <a href="/parametres/utilisateurs">Utilisateurs</a>
    <div class="topbar_hover"></div>
</li>

<li id="param_privileges_topbar">
    <a href="/parametres/privileges">Rôles/Privilèges</a>
    <div class="topbar_hover"></div>
</li>


