<!--    pour la page courante, ajouter la classe  "topbar_active" à la div qui a déjà la classe "topbar_hover" -->









<% if(ifAllowMenu('/statistiques/campagnes')){ %>
<li id="stats_campagnes_topbar">
    <a href="/statistiques/campagnes">Campagnes</a>
    <div class="topbar_hover"></div>
</li>
<% } %>


<% if(ifAllowMenu('/statistiques/sources')){ %>

<li id="stats_sources_topbar">
    <a href="/statistiques/sources">Sources</a>
    <div class="topbar_hover"></div>
</li>
<% } %>




<% if(ifAllowMenu('/statistiques/telemarketing') || ifAllowMenu('/statistiques/telemarketing')){ %>

<li id="stats_telemarketing_topbar">
    <a href="#">Télémarketing</a>
    <div class="topbar_hover"></div>

    <ul class="sousmenu sousmenu_telemarketing">
        <% if(ifAllowMenu('/statistiques/telemarketing')){ %>
        <li>
            <a href="/statistiques/telemarketing">Données</a>
        </li>
        <% } %>


        <% if(ifAllowMenu('/statistiques/telemarketing_graphiques')){ %>
        <li>
            <a href="/statistiques/telemarketing_graphiques">Graphiques</a>
        </li>
        <% } %>

    </ul>

</li>
<% } %>



<% if(ifAllowMenu('/statistiques/commerciaux') || ifAllowMenu('/statistiques/commerciaux')){ %>

<li id="stats_commerciaux_topbar">
    <a href="#">Commerciaux</a>
    <div class="topbar_hover"></div>

    <ul class="sousmenu sousmenu_commerciaux">
        <% if(ifAllowMenu('/statistiques/commerciaux')){ %>
        <li>
            <a href="/statistiques/commerciaux">Données</a>
        </li>
        <% } %>


        <% if(ifAllowMenu('/statistiques/commerciaux_graphiques')){ %>
        <li>
            <a href="/statistiques/commerciaux_graphiques">Graphiques</a>
        </li>
        <% } %>

    </ul>

</li>
<% } %>



<% // if(ifAllowMenu('/statistiques/sources')){ %>

<li id="stats_badging_topbar">
    <a href="/statistiques/badging">Badging</a>
    <div class="topbar_hover"></div>
</li>
<% //} %>

<% if(ifAllowMenu('/statistiques/podium')) { %>
    <li id="stats_podium_topbar">
        <a href="/statistiques/podium">Podium</a>
        <div class="topbar_hover"></div>
    </li>
<% } %>