<!--    pour la page courante, ajouter la classe  "topbar_active" à la div qui a déjà la classe "topbar_hover" -->


<li id="terrain_add_topbar">
    <a href="/terrain/">Ajouter prospect</a>
    <div class="topbar_hover"></div>
</li>

<li id="terrain_search_topbar">
    <a href="/terrain/rechercher-un-prospect">Rechercher prospect</a>
    <div class="topbar_hover"></div>
</li>

<li id="terrain_liste_topbar">
    <a href="/terrain/liste-rendez-vous">Liste rendez-vous</a>
    <div class="topbar_hover"></div>
</li>

<li id="terrain_objectifs_topbar">
    <a href="/terrain/objectifs">Objectifs</a>
    <div class="topbar_hover"></div>
</li>
 