<div class="topbar">
    <ul class="menu">

           
        <li id="accueil_topbar">
            <a href="/menu">
            <img src="/public/assets/images/lienmainchoices.png">
            </a>
            <div class="topbar_hover"></div>
        </li> 
           <li id="burger_topbar">
            <img src="/public/assets/images/burgermenu.png">
            <div class="topbar_hover"></div>
        </li>
    

        <% if(typeof options_top_bar != 'undefined'){ %>
        <%- include('topbar_'+options_top_bar) %>
        <% } %>

    </ul>


    <div class="aide">

        <a class="askctn hover_btn3">
            <p class="ask">?</p>
            <%- include('../aides/contenu_aides.ejs') %>
        </a>

        <a>
            <a href="/logout"><i class="fas fa-sign-out-alt btn_topbar hover_btn3"></i></a>

        </a>


    </div>
</div>
