<!--    pour la page courante, ajouter la classe  "topbar_active" à la div qui a déjà la classe "topbar_hover" -->

<% if(ifAllowMenu('/adv/bdc/dashboard')){ %>
<li id="adv_bdc_topbar">
    <a href="/adv/bdc/dashboard">BDC</a>
    <div class="topbar_hover"></div>
</li>
<% } %>

<% if(ifAllowMenu('/adv/produits/dashboard')){ %>
    <li id="adv_produits_topbar">
        <a href="/adv/produits/dashboard">Produits</a>
        <div class="topbar_hover"></div>
    </li>
<% } %>

<% if(ifAllowMenu('/adv/produits/download')){ %>
    <li id="adv_produits_topbar">
        <a href="/adv/produits/download" target="_blank">Export Produits</a>
        <div class="topbar_hover"></div>
    </li>
<% } %>