<!--    pour la page courante, ajouter la classe  "topbar_active" à la div qui a déjà la classe "topbar_hover" -->



<li id="adv_ventes_topbar">
    <a href="/adv/ventes">Ventes</a>
    <div class="topbar_hover"></div>
</li>

