<!--    pour la page courante, ajouter la classe  "topbar_active" à la div qui a déjà la classe "topbar_hover" -->



<li id="mainchoices_topbar">
    <a href="#">Accueil</a>
    <div class="topbar_hover"></div>
</li>
