
<div class="topbar">
    <ul class="menu">

       <% if(typeof options_top_bar != 'undefined'){ %>
        <%- include('topbar_'+options_top_bar) %>
       <% } %>
   
    </ul>
    
    <a class="aide hover_btn3">
        <p>?</p>
    </a>
</div>
