<!--    pour la page courante, ajouter la classe  "topbar_active" à la div qui a déjà la classe "topbar_hover" -->


<li id="marketing_gestion_topbar">
    <a href="/marketing/">Gestion commandes</a>
    <div class="topbar_hover"></div>
</li>

<li id="marketing_suivi_topbar">
    <a href="/marketing/suivi-commandes">Suivi commandes</a>
    <div class="topbar_hover"></div>
</li>

<li id="marketing_besoins_topbar">
    <a href="/marketing/besoins-commandes">Besoins commandes</a>
    <div class="topbar_hover"></div>
</li>