<!--    pour la page courante, ajouter la classe  "topbar_active" à la div qui a déjà la classe "topbar_hover" -->

<% if(ifAllowMenu('/adv/ventes')){ %>
<li id="adv_ventes_topbar">
    <a href="/adv/ventes">Ventes</a>
    <div class="topbar_hover"></div>
</li>
<% } %>

<% if(ifAllowMenu('/parametres/produits')){ %>
    <li id="param_produits_topbar">
        <a href="/adv/produits/dashboard">Produits</a>
        <div class="topbar_hover"></div>
    </li>
<% } %>