#lead_campagnes_topbar > .topbar_hover{
    opacity: 1;
}

.creer_campagne_ctn label{
    width: 150px;
}

.validcampagne{
    margin: auto;
    background-color: rgba(100,100,100,0);
    border: none;
    width: 30%;
    }

.creer_campagne_ctn select{
    margin-left: 15px;
    min-width: 215px;
}

.creer_campagne_item{
    margin-bottom: 10px;

} 
.creer_campagne_item p:nth-child(1){
    width : 100%;
}

.creer_campagne_item .fa-plus{
    margin-left : 15%;
    margin-top: 15px;
}

.cree_campagne_item{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}