
#lead_gestion_topbar > .topbar_hover{
    opacity: 1;
}

.selectdate_rdv{
    width: 100%;
    margin : 15px 25px;
    font-size: 12px;
    align-items: center;
}


.validsearch{
    margin: auto;
    background-color: rgba(100,100,100,0);
    border: none;

}