
    <link rel="stylesheet" href="public/assets/css/login.css">



<form method="post">

        <section class="login">
                <a href="index.php"><img src="public/assets/images/logo_fuego.png"></a>

       
       <div class="ctnloginform">
        <h1>Mot de passe oublié</h1>
        <h3>Veuillez renseigner votre email pour réinitialiser votre mot de passe</h3>
        <form method="POST" action="/forgets">
            <div class="loginform">
                <input type="mail" name="emailpass" placeholder="email@email.fr">
            </div>
            <button class="btn_fb" value="valider"><h2>Valider</h2></button>
        </form>
        <p class="mdp"><a href="/">Se connecter</a></p>
        
        </div>
    </section>
</form>  