
    <link rel="stylesheet" href="public/assets/css/login.css">


    <% include ./partials/messages %>
<form method="post">

        <section class="login">
                <a href="index.php"><img src="public/assets/images/logo_fuego.png"></a>

       
       <div class="ctnloginform">
        <h1>Se connecter</h1>
		        <div class="loginform">
            <input type="text" name="login" placeholder="Email ou identifiant">
            <input type="password" name="pass" placeholder="Mot de passe">
        </div>
        <button class="btn_fb" value="valider"><h2>Valider</h2></button>

        <p class="mdp"><a href="forget.php">Mot de passe oublié ?</a></p>
        
        </div>
    </section>
</form>  