    <link rel="stylesheet" href="public/assets/css/mainchoices.css">

    <div class="ctnmenuchoices">
        <% include ./partials/messages %>
        <div class="topbar">
            <ul>
                <li>ACCUEIL</li>
            </ul>
        </div>
        <ul class="listchoices">
            <li id="marketing">
                <a href="#">
                    <img src="public/assets/images/phone.png">
                    <h3>Marketing</h3>
                </a>
            </li>

            <li id="commerciaux">
               <a href="#">
                <img src="public/assets/images/commerciaux.png">
                <h3>Commerciaux</h3>
                </a>
            </li>

            <li id="leads">
               <a href="#">
                <img src="public/assets/images/leads.png">
                <h3>Leads</h3>
                </a>
            </li>

            <li id="statistiques">
               <a href="#">
                <img src="public/assets/images/stats.png">
                <h3>statistiques</h3>
                </a>
            </li>

            <li id="parametres">
               <a href="#">
                <img src="public/assets/images/parametres.png">
                <h3>Paramètres</h3>
                </a>
            </li>


        </ul>
    </div>
