    <link rel="stylesheet" href="public/assets/css/mainchoices.css">
    
<div class="ctnmenuchoices">
    <ul class="listchoices">
        <li>
            <img src="public/assets/images/.png">
            <h3>TITLE TITLE</h3>
        </li>
        
        <li>
            <img src="public/assets/images/.png">
            <h3>TITLE TITLE</h3>
        </li>
        
        <li>
            <img src="public/assets/images/.png">
            <h3>TITLE TITLE</h3>
        </li>
        
        <li>
            <img src="public/assets/images/.png">
            <h3>TITLE TITLE</h3>
        </li>
        
        <li>
            <img src="public/assets/images/.png">
            <h3>TITLE TITLE</h3>
        </li>
        
        <li>
            <img src="public/assets/images/.png">
            <h3>TITLE TITLE</h3>
        </li>
        
        <li>
            <img src="public/assets/images/.png">
            <h3>TITLE TITLE</h3>
        </li>
    </ul>
</div>
    
    
