<link rel="stylesheet" href="/public/assets/css/manager_listerdv.css">
<link rel="stylesheet" href="/public/assets/css/vendeur_dashboard.css">
<script type="text/javascript" src="/public/assets/js/manager_listerdv.js"></script>

<div class="topbar">
    <ul>
        <li id="telec_dash_topbar">
            <a href="#">Tableau de bord</a>
            <div class="topbar_hover"></div>
        </li>
        <li id="telec_prospection_topbar">
            <a href="#">ventes</a>
            <div class="topbar_hover topbar_active"></div>
        </li>

        <!--
            
-->
    </ul>
</div>


<div class="row titre_manager_listerdv">
    <div class="col-md-6">
        <h2>Rendez-vous</h2> 
        <a><i class="fas fa-download"></i></a>
    </div>
</div>


<div class="row date">
        <p>Du:</p>
        <input type="text" name="datedebut" class="datepicker" value="" />
        <p> au: </p>
        <input type="text" name="datefin" class="datepicker" value="" />
</div>

<div class="row rdvs">
<% findedRdvs.forEach((rdv) => { %>
    <%- include('./partials/bloc_rdv_jour', {options_template: 'option_bloc_rdv_jour', rdv: rdv}); %>
<% }); %>
</div>