<link rel="stylesheet" href="/public/assets/css/telec_prospection.css">
<script type="text/javascript" src="/public/assets/js/bloc_rdv.js"></script>
<script type="text/javascript" src="/public/assets/js/modifier_client.js"></script>


<div class="topbar">
    <ul>
        <li id="telec_dash_topbar">
            <a href="#">Tableau de bord</a>
            <div class="topbar_hover"></div>
        </li>
        <li id="telec_prospection_topbar">
            <a href="#">ventes</a>
            <div class="topbar_hover topbar_active"></div>
        </li>

        <!--
            
-->
    </ul>
</div>


<div class="row">
    <div class="col-md-6">
        <h2>DPT - SOURCE DU FICHIER - CAMPAGNE</h2>
    </div>
</div>

<div class="row ctn_infos_client">
    <%- include('partials/info_client.ejs') %>
</div>

<div class="row telec_boutons">
    <div class="col-md-6">
        <div class="boutons_ligne ligne1">
            <button class="action_2">
                <img src="/public/assets/images/c1.png">
            </button>
            <button class="action_2">
                <img src="/public/assets/images/c2.png">
            </button>
            <button class="action_2">
                <img src="/public/assets/images/c3.png">
            </button>
            <button>
                <img src="/public/assets/images/hangup.png">
            </button>
        </div>
        <div class="boutons_ligne ligne2">
            <button>
                <p>rdv</p>
            </button>
            <button class="action_8">
                <p>rappel</p>
            </button>
        </div>
        <div class="boutons_ligne ligne3">
            <button class="action_16">
                <p>Refus</p>
            </button>
            <button class="action_5">
                <p>HC</p>
            </button>
            <button class="action_17">
                <p>HC-Com</p>
            </button>
            <button class="action_3">
                <p>Blacklist</p>
            </button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="boutons_ligne ligne4">
            <button class="action_12">
                <p>Societe Tjrs Active</p>
            </button>
            <button class="action_14">
                <p>Litige</p>
            </button>
        </div>
        <div class="boutons_ligne ligne5">
            <button class="action_6">
                <p>Société</p>
            </button>
            <button class="action_9">
                <p>Non attr</p>
            </button>
            <button class="action_4">
                <p>Err co</p>
            </button>
            <button class="action_7">
                <p>Err pan</p>
            </button>
        </div>
        <div class="boutons_ligne ligne6">
            <button class="action_13">
                <p>Autre</p>
            </button>
        </div>
    </div>
</div>
<div class="commentaire_general row">
    <label for="commentaire2">Commentaire</label>
    <input type="text">
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Historique</h2>
    </div>
</div>

<div class="ctn_historique">
    <%- include('partials/histo_client.ejs') %>
</div>

<div class="switch_client">
    <div class="btn_item btn_switch_client">
        <i class="fas fa-forward"></i>
    </div>
</div>
