<link rel="stylesheet" href="/public/assets/css/telec_rappels.css">

<%- include('partials/topbar.ejs') %>

<div class="row">
    <div class="col-md-6">
        <h2>Rappels du jour</h2>
    </div>

</div>



<div class="ctn_table">

<table>
        <thead>
            <th  class="tableau_nom">Nom</th>
            <th  class="tableau_prenom">Prénom</th>
            <th  class="tableau_cp">Code postal</th>
            <th class="tableau_ville">Ville</th>
            <th class="tableau_statut">Statut</th>
            <th class="tableau_sousstatut">Sous Statut</th>
            <th class="tableau_daterappel">Date dernier rappel</th>
        </thead>
        <tbody>
           
                <tr id="historique_ligne">
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td class="commentaire3"> </td>
                    <td> </td>
                </tr>
  
        </tbody>
    </table>
    
   </div>