<link rel="stylesheet" href="/public/assets/css/telec_dashboard.css">
<%- include('partials/topbar.ejs') %>



<div class="row">
    <div class="col-md-8">
        <h2>Statistiques mois courant</h2>
        <div class="telec_stats_ctn">
            
        </div>
    </div>
    
    <div class="col-md-4">
        <h2>Mes paliers</h2>
        <div class="telec_palier_ctn">
           <p>Mes ventes : 00</p>
            <div class="palier_telec palier4 ">
                <p>35 ventes : 450€</p>
            </div>
            <div class="palier_telec palier3 palier_ok">
                <p>25 ventes : 350€</p>
            </div>
            <div class="palier_telec palier2">
                <p>20 ventes : 250€</p>
            </div>
            <div class="palier_telec palier1">
                <p>15 ventes : 150€</p>
            </div>
        </div>
    </div>
</div>