<link rel="stylesheet" href="/public/assets/css/telec_prospection.css">
<script type="text/javascript" src="/public/assets/js/bloc_rdv.js"></script>
<script type="text/javascript" src="/public/assets/js/modifier_client.js"></script>


<div class="topbar">
    <ul>
        <li id="telec_dash_topbar">
            <a href="#">Tableau de bord</a>
            <div class="topbar_hover"></div>
        </li>
        <li id="telec_prospection_topbar">
            <a href="#">ventes</a>
            <div class="topbar_hover topbar_active"></div>
        </li>

        <!--
            
-->
    </ul>
</div>


<div class="row">
    <div class="col-md-6">
        <h2>DPT - SOURCE DU FICHIER - CAMPAGNE</h2>
    </div>
</div>

<div class="row ctn_infos_client">
    <%- include('partials/info_client.ejs') %>
</div>

<div class="row telec_boutons">
    <div class="colonnes_bouton1">
        <div class="boutons_ligne ligne1">
            <button>
                <img src="/public/assets/images/c1.png">
            </button>
            <button>
                <img src="/public/assets/images/c2.png">
            </button>
            <button>
                <img src="/public/assets/images/c3.png">
            </button>
            <button>
                <img src="/public/assets/images/hangup.png">
            </button>
        </div>
        <div class="boutons_ligne ligne2">
            <button>
                <p>rdv</p>
            </button>
            <button>
                <p>rappel</p>
            </button>
        </div>
        <div class="boutons_ligne ligne3">
            <button>
                <p>Refus</p>
            </button>
            <button>
                <p>Hors Critère</p>
            </button>
            
            <button>
                <p>Blacklist</p>
            </button>
        </div>
    </div>
    <div class="colonnes_bouton2">
        <div class="boutons_ligne ligne4">
            <button>
                <p>Societe Tjrs Active</p>
            </button>
            <button>
                <p>Litige</p>
            </button>
        </div>
        <div class="boutons_ligne ligne5">
            
            <button>
                <p>Non attr</p>
            </button>
            <button>
                <p>Err co</p>
            </button>
            
        </div>
        <div class="boutons_ligne ligne6">
            <button>
                <p>Autre</p>
            </button>
        </div>
    </div>
    
    
<div class="switch_client">
    <div class="btn_item btn_switch_client">
        <i class="fas fa-forward"></i>
    </div>
</div>
</div>
<div class="commentaire_general row">
    <label for="commentaire2">Commentaire</label>
    <input type="text">
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Historique</h2>
    </div>
</div>

<div class="ctn_historique">
    <%- include('partials/histo_client.ejs') %>
</div>

