<link rel="stylesheet" href="/public/assets/css/telec_prospection.css">
<script type="text/javascript" src="/public/assets/js/modifier_client.js"></script>
<script type="text/javascript" src="/public/assets/js/traiter_client.js"></script>


    <%- include('partials/topbar.ejs') %>


<div class="row">
    <div class="col-md-6">
        <h2>DPT - SOURCE DU FICHIER - CAMPAGNE</h2>
    </div>
</div>

<div class="row ctn_infos_client">
    <%- include('partials/info_client.ejs') %>
</div>
<div class="traitement_ctn">
            <%- include('partials/traitement_client') %>
            <div class="phase2">
                
            </div>
</div>


<div class="row">
    <div class="col-md-6">
        <h2>Historique</h2>
    </div>
</div>

<div class="ctn_historique">
    <%- include('partials/histo_client') %>
</div>

