<div class="row rdv_ctn">
    <label>Jour et Heure du rendez-vous :</label><input type="text" name="dateevent">

    <label>Rendez-vous pris avec :</label>
    <select name="prisavec">
       <option>Monsieur</option> 
       <option>Madame</option> 
       <option>Les deux</option> 
    </select>
</div>