<div class="row telec_boutons">
  
   
    <div class="colonnes_bouton1">
        <div class="boutons_ligne ligne1">
            <button id="call_1" class="appel hover_btn1">
                <img src="/public/assets/images/c1.png">
            </button>
            <button id="call_2" class="appel hover_btn1">
                <img src="/public/assets/images/c2.png">
            </button>
            <button id="call_3" class="appel hover_btn1">
                <img src="/public/assets/images/c3.png">
            </button>
            <button class="hangup hover_btn1">
                <img src="/public/assets/images/hangup.png">
            </button>
        </div>
        <div class="boutons_ligne ligne2">
            <button id="rdv_1" class="hover_btn1">
                <p>rdv</p>
            </button>
            <button id="rappel_8" class="hover_btn1">
                <p>rappel</p>
            </button>
        </div>
        <div class="boutons_ligne ligne3">
            <button id="action_16" class="hover_btn1">
                <p>Refus</p>
            </button>
            <button id="horscriteres_5" class="hover_btn1" >
                <p>Hors critères</p>
            </button>
            
            <button id="action_3" class="hover_btn1">
                <p>Blacklist</p>
            </button>
        </div>
    </div>
    <div class="colonnes_bouton2">
        <div class="boutons_ligne ligne4">
            <button id="action_12" class="hover_btn1">
                <p>Societe Tjrs Active</p>
            </button>
            <button id="action_14" class="hover_btn1">
                <p>Litige</p>
            </button>
        </div>
        <div class="boutons_ligne ligne5">
            <button id="action_9" class="hover_btn1">
                <p>Non attr</p>
            </button>
            <button id="action_4" class="hover_btn1">
                <p>Err co</p>
            </button>
        </div>
        <div class="boutons_ligne ligne6">
            <button id="action_13" class="hover_btn1">
                <p>Autre</p>
            </button>
        </div>
    </div>
  
<% if(typeof rappels != 'undefined'){ %>    
<div class="close_client">
    <a href="/teleconseiller/rappels">
        <div class=" btn_switch_client hover_btn1">
            <i class="fas fa-times"></i>
        </div>
    </a>
</div>
<% }else if(typeof recherche != 'undefined'){ %>
    <div class="close_client">
        <a href="/teleconseiller/rechercher-client">
            <div class=" btn_switch_client hover_btn1">
                <i class="fas fa-times"></i>
            </div>
        </a>
    </div>    
<% }else{ %>
    <div class="switch_client">
        <div class=" btn_switch_client hover_btn1">
            <i class="fas fa-forward"></i>
        </div>
    </div>
<% } %>    
</div>
