<div class="traitementphase2">
    <i class="fas fa-times btn_item close"></i>
    <div class="phase2_extend"></div>
    <div class="commentaire_general row">
<!--
       <label for="r">R :</label>
       <input type="number" name="r" min="2" placeholder="0">
-->
        <label for="commentaire2">Commentaire</label>
        <input name="commentaire" type="text">
    </div>
    <i class="fas fa-check btn_item save"></i>
</div>
 