<link rel="stylesheet" href="/public/assets/css/teleconseiller/telec_prospection.css">
<script type="text/javascript" src="/public/assets/js/modifier_client.js"></script>
<script type="text/javascript" src="/public/assets/js/traiter_client.js"></script>

 
    <%- include('../partials/topbar/topbar.ejs') %>


<div class="row">
    <div class="col-md-6">
        <h2>DPT - SOURCE DU FICHIER - CAMPAGNE</h2>
    </div>
</div>

<div class="row ctn_infos_client">
    <%- include('../partials/traitementclient/info_client.ejs') %>
</div>
<div class="traitement_ctn">
            <%- include('../partials/traitementclient/traitement_client') %>
            <div class="phase2">
                
            </div>
</div>


<div class="row">
    <div class="col-md-6">
        <h2>Historique</h2>
    </div>
</div>

<div class="ctn_table">
    <%- include('../partials/traitementclient/histo_client') %>
</div>

