<link rel="stylesheet" href="/public/assets/css/teleconseiller/telec_agenda.css">
<link rel="stylesheet" href="/public/assets/css/custom_calendar.css">

<link rel="stylesheet" href="/node_modules/@fullcalendar/core/main.css">
<link rel="stylesheet" href="/node_modules/@fullcalendar/daygrid/main.css">
<link rel="stylesheet" href="/node_modules/@fullcalendar/timegrid/main.css">

<script type="module" src="/node_modules/@fullcalendar/core/main.js"></script>
<script type="module" src="/node_modules/@fullcalendar/daygrid/main.js"></script>
<script type="module" src="/node_modules/@fullcalendar/timegrid/main.js"></script>

<script type="module" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="module" src="/public/assets/lib/tippyjs/popper.min.js"></script>
<script type="module" src="/public/assets/lib/tippyjs/tippy-bundle.umd.min.js"></script>
<link rel="stylesheet" href="/public/assets/lib/tippyjs/material.css"/>

<script type="module" src="/public/assets/js/teleconseiller/telec_agenda.js"></script>


<%- include('../partials/topbar/topbar.ejs') %>
 
<div id="calendar">
    
</div>