<link rel="stylesheet" href="/public/assets/css/teleconseiller/telec_addclient.css">
<link rel="stylesheet" href="/public/assets/css/teleconseiller/telec_prospection.css">
<script type="text/javascript" src="/public/assets/js/teleconseiller/add_client.js"></script>

<%- include('../partials/topbar/topbar.ejs') %>

<div class="row">
    <div class="col-md-6">
        <h2>Ajouter un client</h2>
    </div>

</div>


<div class="container-fluid">



<div class="row ctn_infos_client">
    <%- include('../partials/traitementclient/info_client_create.ejs') %>
</div>
</div>