<link rel="stylesheet" href="/public/assets/css/teleconseiller/telec_a_repositionner.css">
<script type="text/javascript" src="/public/assets/js/a_repositionner.js"></script>

<%- include('../partials/topbar/topbar.ejs') %>

<div class="row">
    <div class="col-md-6">
        <h2>Rappels</h2>
    </div>

</div>



<div class="ctn_table">

<table>
        <thead>
            <th class="tableau_daterdv_repo">Date du RDV</th>
            <th  class="tableau_nom">Nom</th>
            <th  class="tableau_prenom">Prénom</th>
            <th  class="tableau_cp">Code postal</th>  
            <th class="tableau_ville">Ville</th>
            <th class="tableau_commentaire">Commentaire</th>
        </thead>
        <tbody>
        
                <tr class="historique_ligne" id="">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="commentaire3"></td>
                </tr>
        </tbody>
    </table>
    
   </div>