<link rel="stylesheet" href="/public/assets/css/teleconseiller/telec_searchclient.css">

<%- include('../partials/topbar/topbar.ejs') %>

<div class="row">
    <div class="col-md-6">
        <h2>Rechercher un client</h2>
    </div>

</div>



<form>
<div class="row searchclient_ctn">
    <div class="searchclient">
        <label for="statut">Statut :</label>
        <input type="text" id="statut">
    </div>
    <div class="searchclient">
        <label for="sousstatut">Sous Statut :</label>
        <input type="text" id="sousstatut">
    </div>
    <div class="searchclient">
        <label for="nom">Nom :</label>
        <input type="text" id="nom">
    </div>
    <div class="searchclient">
        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom">
    </div>
    <div class="searchclient">
        <label for="dep">DEP :</label>
        <input type="text" id="dep">
    </div>
    <div class="searchclient">
        <label for="tel">Tel :</label>
        <input type="text" id="tel">
    </div>
</div>

        <button type="submit" class="validsearch"><i class="fas fa-check btn_item hover_btn3"></i></button>


</form>


<div class="ctn_table">

<table>
        <thead>
            <th  class="tableau_nom">Nom</th>
            <th  class="tableau_prenom">Prénom</th>
            <th  class="tableau_cp">Code postal</th>
            <th class="tableau_ville">Ville</th>
            <th class="tableau_statut">Statut</th>
            <th class="tableau_sousstatut">Sous Statut</th>
            <th class="tableau_daterappel">Date dernier rappel</th>
        </thead>
        <tbody>
           
                <tr id="historique_ligne">
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td class="commentaire3"> </td>
                    <td> </td>
                </tr>
  
        </tbody>
    </table>
    
   </div>