    <h2>Informations client</h2>
    <div class="ctn_infos_client"></div>

    <h3>Détail rendez-vous</h3>
    <h6>00/00/000 - 00:00</h6>
    <p>Commentaire commentaire commentaire commentaire commentaire commentaire commentaire commentaire </p>

    <h3>Etat rendez-vous</h3>
    <div class="row checkctn">
        <div class="checksousctn">
            <input type="checkbox" name="checkconfirme" id="checkconfirme"><label for="checkconfirme">Confirmé</label>
        </div>
        <div class="checksousctn">
            <input type="checkbox" name="checknonconfirme" id="checknonconfirme"><label for="checknonconfirme">Non Confirmé</label>
        </div>
        <div class="checksousctn">
            <input type="checkbox" name="checkarepo" id="checkarepo"><label for="checkarepo">A repositionner</label>
        </div>
    </div>
    <h3>Compte rendu du rendez-vous</h3>
    <select class="resultatrdv" name="resultatrdv">
        <option>Annulé</option>
        <option>DEM Suivi</option>
        <option>DEM RAF</option>
        <option>Pas été</option>
        <option>Repo Com</option>
        <option>Repo Client</option>
        <option>Vente</option>   
    </select>
    <a href="" class="supprimerrdv">Supprimer ce rendez-vous</a>
    <a class="validrdv"><i class="fas fa-check btn_item hover_btn3"></i></a>
