#adv_bdc_topbar > .topbar_hover{
    opacity: 1;
}

.div_info_onPage {
    padding: 0 25px;
}

/* .carousel-inner,.carousel,.carousel-item,.container,.fill {
    height:100%;
    min-height:400px;
    width:100%;
    background-position:center center;
    background-size:cover;
}
.slide-wrapper{display:inline;}
.slide-wrapper .container{padding:0;} */

.carousel-inner,.carousel,.carousel-item,.container,.fill {
    /* height: 100%; */
    width: 100%;
    min-height:400px;
}


/*------------------------------ vertical bootstrap slider----------------------------*/

.carousel-inner> .carousel-item.carousel-item-next ,
.carousel-inner > .carousel-item.active.carousel-item-right{ 
    transform: translate3d(0, 100%, 0); 
    -webkit-transform: translate3d(0, 100%, 0); 
    -ms-transform: translate3d(0, 100%, 0); 
    -moz-transform: translate3d(0, 100%, 0); 
    -o-transform: translate3d(0, 100%, 0);  
    top: 0;    
    transition-duration: 200ms;
}
.carousel-inner > .carousel-item.carousel-item-prev ,
.carousel-inner > .carousel-item.active.carousel-item-left{ 
    transform: translate3d(0,-100%, 0); 
    -webkit-transform: translate3d(0,-100%, 0);  
    -moz-transform: translate3d(0,-100%, 0);
    -ms-transform: translate3d(0,-100%, 0); 
    -o-transform: translate3d(0,-100%, 0); 
    top: 0;    
    transition-duration: 200ms;
}
.carousel-inner > .carousel-item.next.carousel-item-left ,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0); 
    -webkit-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0); 
    top:0;    
    transition-duration: 200ms;
}

.formRow, .phraseRow {
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

form > .row {
    margin-top: 10px;
    margin-bottom: 10px;
}

form label {
    margin: 0;
    padding: 5px;
}

.formRow label {
    display: flex;
    flex: 1;
}

.formRow input {
    display: flex;
    flex: 3;    
}

.phraseRow > label {
    margin: 0;
    padding: 5px;
}

.phraseRow > input {
    width: 80px;
    margin: 0;
}

.infoChampsObligatoires {
    font-size: 12px;
    font-style: italic;
}

.boxValidation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0;
}


.modal, .modal-dialog {
    background-color: transparent;
    box-shadow: 0 0 transparent;
}


#modalInformation {
    overflow: initial;
    width: 100%;
    max-width: 100% !important;
    top: 20%;
    z-index: 1050;
    position: absolute;
}

#divbtnAddProduit {
    padding: 5px;
}

#formProduits button {
    background-color: transparent;
    color: transparent;
    border: none;
    width: fit-content;
    height: fit-content;
    width: 5%;
}

#selectProduit {
    width: 95%;
}

.ctn_table {
    margin: 0 !important;
}

.ctn_table table {
    width: 99% !important;
    margin-bottom: 0 !important;
}

#tableListeProduits .fa-minus {
    margin: 0;
}

#tableListeProduits tr:hover > td {
    cursor: default !important;
    color: black !important;
}

/* #tableListeProduits td {
    background-color: transparent;
} */

#tableListeProduits input, #tableListeProduits textarea {
    background-color: white;
}

.emptyTd {
    visibility: hidden;
}

.produitOption {
    width: 2%;
}

.produitQuantite {
    min-width: 50px;
    width: 10%;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.produitPuissance {
    width: 10%;
}

.produitPrix {
    width: 15%;
}

.produitDesignation {
    min-width: 300px;
    width: 48%;
}

.produitQuantite input, .produitPrix input {
    width: 100%;
    text-align: center;
    margin: 0;    
}

.textarea_auto_height {
    width: 100%;
    min-height: 26px;
}

.textFormated {
    white-space: pre-wrap !important;
    text-align: left !important;
}