#adv_bdc_topbar > .topbar_hover{
    opacity: 1;
}

.div_info_onPage {
    padding: 0 25px;
}

.row_div_bdcFromScratch {
    margin: 15px 25px 0 25px;
}

#title_div_bdcFromScratch {
    padding: 0;
}

#div_bdcFromScratch {
    padding: 0;
    display: flex;
    align-items: center;
}

button {
    background-color: transparent;
    /* color: transparent; */
    border: none;
    width: fit-content;
    height: fit-content;
}

.ctn_table tr:hover > td {
    cursor: default !important;
    color: black !important;
}

.td_options {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}