#adv_bdc_topbar > .topbar_hover{
    opacity: 1;
}

.div_info_onPage {
    padding: 0 25px;
}

/* .carousel-inner,.carousel,.carousel-item,.container,.fill {
    height:100%;
    min-height:400px;
    width:100%;
    background-position:center center;
    background-size:cover;
}
.slide-wrapper{display:inline;}
.slide-wrapper .container{padding:0;} */

.carousel-inner,.carousel,.carousel-item,.container,.fill {
    /* height: 100%; */
    width: 100%;
    min-height:400px;
}

.carousel-inner {
    overflow: visible;
}


/*------------------------------ vertical bootstrap slider----------------------------*/

.carousel-inner> .carousel-item.carousel-item-next ,
.carousel-inner > .carousel-item.active.carousel-item-right{ 
    transform: translate3d(0, 100%, 0); 
    -webkit-transform: translate3d(0, 100%, 0); 
    -ms-transform: translate3d(0, 100%, 0); 
    -moz-transform: translate3d(0, 100%, 0); 
    -o-transform: translate3d(0, 100%, 0);  
    top: 0;    
    transition-duration: 200ms;
}
.carousel-inner > .carousel-item.carousel-item-prev ,
.carousel-inner > .carousel-item.active.carousel-item-left{ 
    transform: translate3d(0,-100%, 0); 
    -webkit-transform: translate3d(0,-100%, 0);  
    -moz-transform: translate3d(0,-100%, 0);
    -ms-transform: translate3d(0,-100%, 0); 
    -o-transform: translate3d(0,-100%, 0); 
    top: 0;    
    transition-duration: 200ms;
}
.carousel-inner > .carousel-item.next.carousel-item-left ,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0); 
    -webkit-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0); 
    top:0;    
    transition-duration: 200ms;
}

.formRow, .phraseRow {
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

form > .row {
    margin-top: 10px;
    margin-bottom: 10px;
}

form label {
    margin: 0;
    /* padding: 5px; */
}

.formRow label {
    display: flex;
    flex: 1;
}

.formRow input {
    display: flex;
    flex: 3;    
}

.phraseRow > label {
    margin: 0;
    padding: 5px;
}

.phraseRow > input {
    min-width: 90px;
    max-width: 110px;
    margin: 0;
}

.infoChampsObligatoires {
    font-size: 12px;
    font-style: italic;
}

.boxValidation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0;
}


.modal, .modal-dialog {
    background-color: transparent;
    box-shadow: 0 0 transparent;
}


#modalInformation {
    overflow: initial;
    width: 100%;
    max-width: 100% !important;
    top: 20%;
    z-index: 1050;
    position: absolute;
}

#divbtnAddProduit {
    padding: 5px;
}

#formProduits button {
    background-color: transparent;
    color: transparent;
    border: none;
    width: fit-content;
    height: fit-content;
    width: 5%;
}

#selectProduit {
    width: 95%;
}

.ctn_table {
    margin: 0 !important;
    /* padding: 0 !important; */
}

.ctn_table table {
    margin-bottom: 0 !important;
}

#tableListeProduits .fa-minus {
    margin: 0;
}

#tableListeProduits tr:hover > td {
    cursor: default !important;
    color: black !important;
}

/* #tableListeProduits td {
    background-color: transparent;
} */

#tableListeProduits input, #tableListeProduits textarea {
    background-color: white;
}

.emptyTd {
    visibility: hidden;
    border: none !important;
}

.produitOption {
    width: 2%;
}

.produitQuantite {
    width: 8%;
    min-width: 50px;
    max-width: 100px;
    /* padding-left: 0 !important;
    padding-right: 0 !important; */
}

.produitPuissance {
    width: 8%;
    min-width: 50px;
    max-width: 100px;
}

.inputDisabled {
    background-color: transparent !important;
}

.produitPrix {
    width: 15%;
    min-width: 140px;
}

.produitPrixTotal {
    font-weight: bold;
}

.produitTVA {
    width: 8%;
    min-width: 50px;
    max-width: 100px;
}

.produitDesignation {
    min-width: 300px;
    width: 100%;
}

.produitPosition {    
    background-color: transparent !important;
    border: none !important;    
}

.produitPositionContent {
    height: 100%;
    min-height: 70px;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.produitQuantite input, .produitPrix input {
    width: 100%;
    text-align: center;
    margin: 0;    
}

.sousProduit thead td {
    padding: 0 !important;
}

.textarea_auto_height {
    width: 100%;
    min-height: 26px;
}

.textFormated {
    white-space: pre-wrap !important;
    text-align: left !important;
}

/***************************** RECAP BDC *******************************/
.mainfiche{
    padding: 0 25px;    
    max-width:1400px; 
    box-sizing: border-box;

}


.col{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
    
}
h2{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 15px 0 15px 0;
}

h3{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}


.emplacement {
    margin-bottom: 10px;
    padding: 0 5px;
    background-color: #f2f2f2;
    -webkit-print-color-adjust: exact;
}

.box, .selectedBox {
    display: inline-block;
    position: relative;
    padding-left: 20px;
}

.box:before, .selectedBox:before {
    content: "";
    width: 15px;
    height: 15px;    
    border: 1px solid #3c3c3c;
    position: absolute;
    top: 5px;
    left: 0;
}

.box:before {
    background-color: #fff;
}

.selectedBox:before {
    background-color: #000;
}



.entete{

    padding: 10px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.entete img{
    max-width: 150px;
}

.entete_milieu h1{
    font-size: 40px;
    text-align: center;
    line-height: normal;
    font-weight: 700;
    color : #000000;
    text-transform: uppercase;
}

.entete_milieu p{
    font-size: 12px;
    text-align: center;
    line-height: normal;
    font-weight: 500;
}


.entete_droite p{
    font-size: 9px;
    text-align: left;
    line-height: normal;
    font-weight: 400;
}
.numclient{
    padding: 5px;
    margin: 5px 0; 
    border : 1px solid #000000;
}

.entete_gauche {
    padding: 25px;
}


/********************************Tab*********************************/
/* 
table {
    width: 100%;
    border-collapse: collapse;
} */

th {
    border: 2px solid #3c3c3c;
}


td {
    height: 30px;
}

.soustotal{
    font-size: 12px;
    text-align: right;
    background-color: #dee0e7;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 15px;
        border: 2px solid #3c3c3c;
}

.materiel{
    width : 60%;
}




/* #tableTVA{
    width : 0% !important;
    margin-top: -61px; 
    page-break-after: always; 
}

.taux{
    font-size: 12px;
    text-align: left;
    background-color: #dee0e7;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 15px;
        border: 2px solid #3c3c3c;
    width: 50%;
} */

.pourcent {
    margin: 0;
    padding: 0 10px;
    display: inline-block;
}

/****************************************lignes *********************/

.ligne{
    justify-content: space-between;
    margin: 0;
}
.ligne1 label, .ligne3 label, .ligne4 label{
    width : 75px;
}
.ligne2 label {
    width: 120px;
}

.ligne1 .emplacement{
    width: 40%;
}

.ligne2 .emplacement, .ligne3 .emplacement{
    width: 88%;
}

.ligne4 .emplacement{
    width: 37%;
}

.ligne5 label:nth-child(1){
    width : 180px;
}
.ligne5 label:nth-child(2){
    width : 75px;
}
.ligne5 .emplacement{
    width: 20%;
}

.ligne6 .emplacement{
    width: 15%;
}

.ligne7 .emplacement{
    width: 45%;
}

.emplacementcomm{
    height: 150px;
    width: 100%;
}

.ligne8{
    align-items: baseline;
}

.ligne9 .emplacement{
    width : 50%;
}

.ligne10 .emplacement{
    width : 48%;
}


.ligne11 .emplacement{
    width : 17%;
}


.ligne12 .emplacement{
    width : 18%;
}

.ligne13 .emplacement{
    width : 18%;
}

.ligne14 .emplacement{
    width : 85%;
}


.ligne15 .emplacement{
    width : 80%;
}


.ligne16 label{
    width : 50%;
}

.ligne17 .col{
    width : 50%
}

.ligne17col1 .emplacement{
    width: 70%;
    height: 25px;
}


.ligne17col1 .row{
    width: 100%;
    padding: 0 15px;
    justify-content: space-between;
}

.emplacementtech{
    width: 95% !important;
    height: 100px !important;
    margin: 15px 0;
}

.ligne17col2 .box{
    font-size: 10px;
}

 .mention{
    font-size: 12px;
    padding-top: 15px;
    padding-left: 5px;
}


.emplacementclient{
    width: 95% !important;
    height: 100px !important;
    margin-top: -20px;

}


.ligne18 .emplacement{
    width : 75%;
}


.ligne19 .emplacement{
    width : 75%;
}



.retractation{
    border-top : 1px dashed #000000;
    padding: 15px;
    margin-top: 15px;

}

.ligne20 p{
    width : 50%;
}
.ligne20 label {
    width : 45%;
    padding: 15px;
    margin: 15px;
    border : 1px solid #000000;
    
}


.versopetit1{

    padding: 15px;
    height: 1150px;
    -webkit-column-count:3; /* Opera, Safari, Google Chrome */
    -moz-column-count: 3; /* Firefox */
    column-count: 3; /* Internet Explorer */
    font-size: 9px;
        text-align: justify;
    
}


.versopetit2{

    padding: 15px;
    height: 1500px;
    -webkit-column-count:3; /* Opera, Safari, Google Chrome */
    -moz-column-count: 3; /* Firefox */
    column-count: 3; /* Internet Explorer */
    font-size: 9px;
        text-align: justify;
    
}


.retractation2{
    border-top : 1px dashed #000000;
    height: 325px;
    padding: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
/*        page-break-after: always; */

}
.retractationadresse{
    border : 1px solid #000;
    padding: 25px;
}

.retractationadresse p, .completez{

    font-size: 12px;
    text-align: center;
}

.envoyez{
    width: 50%;
    font-size: 12px;
}


/*****************************************************************/

.infos{
    font-size: 10px;
}