.mainfiche{
    padding: 0 25px;    
    max-width:1400px; 
    box-sizing: border-box;

}


.col{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
    
}
h2{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 15px 0 15px 0;
}

h3{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}


.emplacement {
    margin-bottom: 10px;
    padding: 0 5px;
    background-color: #f2f2f2;
    -webkit-print-color-adjust: exact;
}

.box, .selectedBox {
    display: inline-block;
    position: relative;
    padding-left: 20px;
}

.box:before, .selectedBox:before {
    content: "";
    width: 15px;
    height: 15px;    
    border: 1px solid #3c3c3c;
    position: absolute;
    top: 5px;
    left: 0;
}

.box:before {
    background-color: #fff;
}

.selectedBox:before {
    background-color: #000;
}



.entete{

    padding: 10px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.entete img{
    max-width: 150px;
}

.entete_milieu h1{
    font-size: 40px;
    text-align: center;
    line-height: normal;
    font-weight: 700;
    color : #000000;
    text-transform: uppercase;
}

.entete_milieu p{
    font-size: 12px;
    text-align: center;
    line-height: normal;
    font-weight: 500;
}


.entete_droite p{
    font-size: 9px;
    text-align: left;
    line-height: normal;
    font-weight: 400;
}
.numclient{
    padding: 5px;
    margin: 5px 0; 
    border : 1px solid #000000;
}

.entete_gauche {
    padding: 25px;
}


/********************************Tab*********************************/

.ctn_table {
    margin: 15px 25px 35px 25px;
}



table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-size: 12px;
    text-align: center;
    background-color: #dee0e7;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 15px;
        border: 2px solid #3c3c3c;
}


td {
    text-align: center;
    text-align: center;
    border: 2px solid #3c3c3c;
    padding: 5px 10px !important;
    height: 30px;
}

.invisible{
    border : none;
}
.soustotal{
    font-size: 12px;
    text-align: right;
    background-color: #dee0e7;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 15px;
        border: 2px solid #3c3c3c;
}

.border_bot{
        border-bottom: 2px solid #3c3c3c !important;
	border-top : none !important;
	border-left : none !important;
	border-right : none !important;

}

.materiel{
    width : 60%;
}




#tableTVA{
    width : 0% !important;
    margin-top: -61px; 
    page-break-after: always; 
}

.taux{
    font-size: 12px;
    text-align: left;
    background-color: #dee0e7;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 15px;
        border: 2px solid #3c3c3c;
    width: 50%;
}

.pourcent{
        margin: 0;
    padding: 0 35px;
    display: inline-block;
}

/****************************************lignes *********************/

.row {
    display: -webkit-box; /* wkhtmltopdf uses this one */
    display: -webkit-flex;
    display: flex;
/*
    -webkit-box-pack: center;  
    -webkit-justify-content: center;
            justify-content: center;
*/
}

.row > div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.row > div:last-child {
    margin-right: 5px;
}


.ligne{
    justify-content: space-between;
    margin: 0;
}
.ligne1 label, .ligne3 label, .ligne4 label{
    width : 75px;
}
.ligne2 label {
    width: 120px;
}

.ligne1 .emplacement{
    width: 40%;
}

.ligne2 .emplacement, .ligne3 .emplacement{
    width: 88%;
}

.ligne4 .emplacement{
    width: 37%;
}

.ligne5 label:nth-child(1){
    width : 180px;
}
.ligne5 label:nth-child(2){
    width : 75px;
}
.ligne5 .emplacement{
    width: 20%;
}

.ligne6 .emplacement{
    width: 15%;
}

.ligne7 .emplacement{
    width: 45%;
}

.emplacementcomm{
    height: 150px;
    width: 100%;
}

.ligne8{
    align-items: baseline;
}

.ligne8 label{
	margin : 20px 0 0 50px;
}

.ligne9 .emplacement{
    width : 50%;
}

.ligne10 .emplacement{
    width : 48%;
}


.ligne11 .emplacement{
    width : 17%;
}


.ligne12 .emplacement{
    width : 18%;
}

.ligne13 .emplacement{
    width : 18%;
}

.ligne14 .emplacement{
    width : 85%;
}


.ligne15 .emplacement{
    width : 80%;
}


.ligne16 label{
    width : 50%;
}

.ligne17 .col{
    width : 50%
}

.ligne17col1 .emplacement{
    width: 70%;
    height: 25px;
}


.ligne17col1 .row{
    width: 100%;
    padding: 0 15px;
    justify-content: space-between;
}

.emplacementtech{
    width: 95% !important;
    height: 100px !important;
    margin: 15px 0;
}

.ligne17col2 .selectedBox{
    font-size: 10px !important;
}

 .mention{
    font-size: 12px;
    padding-top: 15px;
    padding-left: 5px;
}


.emplacementclient{
    width: 95% !important;
    height: 100px !important;
    margin-top: 12px;

}


.ligne18 .emplacement{
    width : 75%;
}


.ligne19 .emplacement{
    width : 75%;
}



.retractation{
    border-top : 1px dashed #000000;
    padding: 15px;
    margin-top: 15px;

}
.retractation2{

}

.ligne20 p{
    width : 50%;
}
.ligne20 label {
    width : 45%;
    padding: 15px;
    margin: 15px;
    border : 1px solid #000000;
    
}


.versopetit1{

    padding: 15px;
    height: 1150px;
    -webkit-column-count:3; /* Opera, Safari, Google Chrome */
    -moz-column-count: 3; /* Firefox */
    column-count: 3; /* Internet Explorer */
    font-size: 9px;
        text-align: justify;
    
}


.versopetit2{

    padding: 15px;
    height: 1500px;
    -webkit-column-count:3; /* Opera, Safari, Google Chrome */
    -moz-column-count: 3; /* Firefox */
    column-count: 3; /* Internet Explorer */
    font-size: 9px;
        text-align: justify;
    
}


.retractation2{
    border-top : 1px dashed #000000;
    height: 325px;
    padding: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
        page-break-before: always; 

}
.retractation{
        page-break-before: always; 

}
.retractationadresse{
    border : 1px solid #000;
    padding: 25px;
}

/*
@media print {
.retractation{
position: absolute;
	bottom : 0;
	}
	
	.retractation2{
		        page-break-before: always; 

position: absolute;
	bottom : 0;
	}
}
*/
.retractationadresse{
    border : 1px solid #000;
    padding: 25px;
}

.retractationadresse p, .completez{

    font-size: 12px;
    text-align: center;
}

.envoyez{
    width: 50%;
    font-size: 12px;
}


/*****************************************************************/

.infos{
    font-size: 10px;
}