<link rel="stylesheet" href="/public/assets/css/parametres/equipes_telemarketing.css">


<%- include('../partials/topbar/topbar.ejs') %>


<div class="row">
    <div class="col-md-6">
        <h2>Equipes</h2>
    </div>
</div>



<div class="container-fluid">
    <div class="col ">
        <ul class="liste_equipes">
            <li>Qualicom</li>
            <li>Stéphanie</li>
        </ul>
        <a class="addequipe">
            <p>Ajouter une équipe</p>
            <i class="fas fa-plus btn_item hover_btn3"></i>
        </a>
    </div>




    <div class="row">
        <div class="col-md-6">
            <h2>Constitution équipe</h2>
        </div>
    </div>


    <div class="row constitution_equipe_ctn">
        <div class="col-md-3">
            <h3>Directeur Plateforme</h3>
            <select>
                <option>Directeur plateforme</option>
                <option>Directeur plateforme</option>
                <option>Directeur plateforme</option>
                <option>Directeur plateforme</option>
                <option>Directeur plateforme</option>

            </select>
        </div>

       
       <div class="row equipe_crea">
       
        <div class="plateaux_ctn ">
            <h3>Plateaux</h3>
            <div class="select_effectif">
                <select class="directeur_agence">
                    <option>Manager plateau</option>
                    <option>Manager plateau</option>
                    <option>Manager plateau</option>
                    <option>Manager plateau</option>
                    <option>Manager plateau</option>

                </select>

         
                <i class="fas fa-plus btn_item hover_btn3"></i>
            </div>
        </div>

        <div class=" row telecetautres">
           
           
            <div class="telecs">
                <h3>Téléconseillers</h3>
                <div class="select_effectif">
                    <select class="telec_item">
                        <option>Téléconseiller</option>
                        <option>Téléconseiller</option>
                        <option>Téléconseiller</option>
                        <option>Téléconseiller</option>
                        <option>Téléconseiller</option>
   

                    </select>
                    <i class="fas fa-plus btn_item hover_btn3"></i>
                </div>
            </div>

            <div class="autres">
                <h3>Autres postes</h3>
                <div class="select_effectif">
                    <select class="autres_item">
                        <option>Autre</option>


                    </select>
                    <i class="fas fa-plus btn_item hover_btn3"></i>
                </div>
            </div>
        </div>

   </div>
   
   
   
    </div>


    <div class="validsupprequipe">
            <i class="fas fa-times btn_item hover_btn3"></i>
            <i class="fas fa-check btn_item hover_btn3"></i>

    </div>





</div>
