<link rel="stylesheet" href="/public/assets/css/parametres/equipes_commerciaux.css">


    <%- include('../partials/topbar/topbar.ejs') %>


<div class="row">
    <div class="col-md-6">
        <h2>Equipes</h2> 
    </div>
</div>



<div class="container-fluid">
   <div class="col ">
       <ul class="liste_equipes">
           <li>Hitech Habitat Services</li>
           <li>EASY WATT</li>
       </ul>
       <a class="addequipe">
       <p>Ajouter une équipe</p>
        <i class="fas fa-plus btn_item hover_btn3"></i>
       </a>
   </div>
    



<div class="row">
    <div class="col-md-6">
        <h2>Constitution équipe</h2> 
    </div>
</div>


<div class="row constitution_equipe_ctn">
    <div class="col-md-3">
        <h3>Directeur Co</h3>
        <select>
            <option>Directeur directeur</option>
            <option>Directeur directeur</option>
            <option>Directeur directeur</option>
            <option>Directeur directeur</option>
            <option>Directeur directeur</option>
        </select>
    </div>
    
        <div class="col-md-3">
        <h3>Directeur agence</h3>
        <div class="select_effectif">
        <select class="directeur_agence">
            <option>Directeur agence</option>
            <option>Directeur agence</option>
            <option>Directeur agence</option>
            <option>Directeur agence</option>
            <option>Directeur agence</option>
        </select>
        
                <select>
            <option>Directeur agence</option>
            <option>Directeur agence</option>
            <option>Directeur agence</option>
            <option>Directeur agence</option>
            <option>Directeur agence</option>
        </select>
        <i class="fas fa-plus btn_item hover_btn3"></i>
        </div>
    </div>
    
        <div class="col-md-3">
        <h3>Equipes</h3>
        <div class="select_effectif">
        <select class="chef_equipe">
            <option>Chef d'équipe</option>
            <option>Chef d'équipe</option>
            <option>Chef d'équipe</option>
            <option>Chef d'équipe</option>
            <option>Chef d'équipe</option>

        </select>
        <i class="fas fa-plus btn_item hover_btn3"></i>
            </div>
    </div>
    
        <div class="col-md-3">
        <h3>Commerciaux</h3>
        <div class="select_effectif">
        <select class="commerciaux">
            <option>Commercial</option>
            <option>Commercial</option>
            <option>Commercial</option>
            <option>Commercial</option>
            <option>Commercial</option>

        </select>
        <i class="fas fa-plus btn_item hover_btn3"></i>
            </div>
    </div>
</div>








</div>