 <link rel="stylesheet" href="/public/assets/css/parametres/equipes_commerciaux.css">


<%- include('../partials/topbar/topbar.ejs') %>


<div class="row">
    <div class="col-md-6">
        <h2>Commerciaux</h2>
    </div>

</div>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            <ul class="roles_liste">
                    <li id="" class="role_item">
                        <p>NOM Commercial </p>
                        
                    </li>
            </ul>
            <a class="addrole">
                <p>Ajouter un commercial</p>
                <i class="fas fa-plus btn_item hover_btn3"></i>
            </a>
        </div>



        <div class="col-md-6">
            <ul class="privileges_liste">
                    <li id="" class="privilege_item">
                        <p>Nom Commercial</p>
                    </li>  

                    

            </ul>
            <div class="validsupprrole">
                <i class="fas fa-times btn_item hover_btn3"></i>
                <i class="fas fa-check btn_item hover_btn3"></i>

            </div>

        </div>
    </div>
</div>
