<link rel="stylesheet" href="/public/assets/css/parametres/mon_compte.css">

<%- include('../partials/topbar/topbar.ejs') %>

<div class="row">
    <div class="col-md-6">
        <h2>Mon compte</h2>
    </div>

</div>

<div class="container-fluid infos_moncompte">
    <div class="row">
        <label>NOM :</label>
        <input type="text" placeholder="NOM">
    </div>

    <div class="row">
        <label>Prénom :</label>
        <input type="text" placeholder="Prénom">
    </div>

    <div class="row">
        <label>Tel 1 :</label>
        <input type="text" placeholder="06 00 00 00 00">
    </div>

    <div class="row">
        <label>Tel 2 :</label>
        <input type="text" placeholder="03 00 00 00 00">
    </div>

    <div class="row">
        <label>Email :</label>
        <input type="text" placeholder="email@societe.fr">
    </div>

    <div class="row">
        <label>Adresse Postale :</label>
        <input type="text" placeholder="00 Rue des Roses 00000 VILLE">
    </div>


    <div class="row">
        <label>DEP :</label>
        <input type="text" placeholder="00000 VILLE">
    </div>

    <div class="row">
        <label>Tel Pro :</label>
        <input type="text" placeholder="03 00 00 00 00">
    </div>

    <div class="row">
        <label>Clé OVH :</label>
        <input type="text" placeholder="aa-12345">
    </div>

    <div class="col-md-12">
        <button class="changerpassword hover_btn2">Changer mon mot de passe</button>
        <form>
            <div class="col-md-6">
                <label>Mot de passe :</label>
                <input type="password">
            </div>
            <div class="col-md-6">
                <label>Confirmer mot de passe :</label>
                <input type="password">
            </div>
            <input type="submit" Value="Valider" class="hover_btn2">
        </form>

    </div>










</div>
