<link rel="stylesheet" href="/public/assets/css/parametres/produits.css">
<!--<script type="module" src="/public/assets/js/parametres/parametres_produits.js"></script>-->

<%- include('../partials/topbar/topbar.ejs') %>



<div class="btns_add">
	<div>
		<a class="add addcat">
			<p>Ajouter une catégorie</p>
			<i class="fas fa-plus btn_item ajouter_categorie hover_btn3"></i>
		</a>
	</div>
	<div>
		<a class="add addgroupe">
			<p>Ajouter un groupe de produit</p>
			<i class="fas fa-plus btn_item ajouter_groupe hover_btn3"></i>
		</a>
	</div>
	<div>
		<a class="add addproduit">
			<p>Ajouter un produit</p>
			<i class="fas fa-plus btn_item ajouter_produit hover_btn3"></i>
		</a>
	</div>
</div>


<!--/**************************** DIV CREATIONS ELEMENTS *******************************/-->


<div class="creer_categorie">
	<h4>Nouvelle Catégorie</h4>
	<div class="info">
		<label>Nom Catégorie :</label>
		<input type="text" name="nomcat">
	</div>
	<div class="validsuppr">
		<i class="fas fa-times btn_item hover_btn3"></i>
		<i class="fas fa-check btn_item hover_btn3"></i>
	</div>
</div>

<div class="creer_Gproduit">
	<h4>Nouveau groupe</h4>
	<div class="info">
		<label>Catégorie :</label>
		<select>
			<option>Option</option>
			<option>Option</option>
			<option>Option</option>
		</select>
	</div>
	<div class="info">
		<label>Référence :</label>
		<input type="text" name="refGproduit">
	</div>
	<div class="info">
		<label>Nom Groupe :</label>
		<input type="text" name="nomGproduit">
	</div>
	<div class="info">
		<label>Prix HT Groupe :</label>
		<input type="text" name="prixhtGproduit">
		<i class="fas fa-plus btn_item2 hover_btn3"></i>
	</div>
	<div class="info">
		<label>Prix TTC Groupe :</label>
		<input type="text" name="prixttcGproduit">
		<i class="fas fa-plus btn_item2 hover_btn3"></i>
	</div>
	<div class="info">
		<label>TVA Groupe :</label>
		<input type="text" name="tvaGproduit">
	</div>
	<div class="validsuppr">
		<i class="fas fa-times btn_item hover_btn3"></i>
		<i class="fas fa-check btn_item hover_btn3"></i>
	</div>
</div>


<div class="creer_produit">
	<h4>Nouveau produit</h4>
	<div class="info">
		<label>Catégorie :</label>
		<select>
			<option>Option</option>
			<option>Option</option>
			<option>Option</option>
		</select>
	</div>
	<div class="info">
		<label>Groupe :</label>
		<select>
			<option>Option</option>
			<option>Option</option>
			<option>Option</option>
		</select>
	</div>
	<div class="info">
		<label>Référence :</label>
		<input type="text" name="refproduit">
	</div>
	<div class="info">
		<label>Nom produit :</label>
		<input type="text" name="nomproduit">
	</div>
	<div class="info">
		<label>Description produit :</label>
		<input type="text" name="descproduit">
	</div>
	<div class="info">
		<label>Puissance produit :</label>
		<input type="text" name="puissanceproduit">
	</div>
	<div class="info">
		<label>Prix HT produit :</label>
		<input type="text" name="prixhtproduit">
		<i class="fas fa-plus btn_item2 hover_btn3"></i>
	</div>
	<div class="info">
		<label>Prix TTC produit :</label>
		<input type="text" name="prixttcproduit">
		<i class="fas fa-plus btn_item2 hover_btn3"></i>
	</div>
	<div class="info">
		<label>TVA produit :</label>
		<input type="text" name="tvaproduit">
	</div>
	<div class="validsuppr">
		<i class="fas fa-times btn_item hover_btn3"></i>
		<i class="fas fa-check btn_item hover_btn3"></i>
	</div>
</div>

<!--/**************************** TAB CATEGORIES *******************************/-->

<div class="row">
	<div class="col-md-6">
		<h2>Catégories de produits</h2>
	</div>
</div>
<div class="ctn_table">
	<table>
		<thead>
			<th class="tableau_cats">Catégories</th>
			<th class="tableau_nbproduitscats">Nombres de produits</th>
			<th class="tableau_produitsincluscats">Détail Produits inclus</th>


		</thead>
		<tbody class="categories">
			<tr id="">
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>


<!--/**************************** TAB GROUPES *******************************/-->

<div class="row">
	<div class="col-md-6">
		<h2>Groupes de Produits</h2>
	</div>
</div>
<div class="ctn_table">
	<table>
		<thead>
			<th class="tableau_catGproduit">Catégorie</th>
			<th class="tableau_refGproduit">REF</th>
			<th class="tableau_nomGproduit">Produits inclus</th>
			<th class="tableau_descGproduit">Description</th>
			<th class="tableau_prixhtGproduit">Prix HT</th>
			<th class="tableau_prixttcGproduit">Prix TTC</th>
			<th class="tableau_tvaGproduit">TVA</th>

		</thead>
		<tbody class="groupesproduits">
			<tr id="">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>

<!--/**************************** TAB PRODUITS *******************************/-->
<div class="row">
	<div class="col-md-6">
		<h2>Produits</h2>
	</div>
</div>
<div class="ctn_table">
	<table>
		<thead>
			<th class="tableau_catproduit">Catégorie</th>
			<th class="tableau_refproduit">REF</th>
			<th class="tableau_nomproduit">Nom Produit</th>
			<th class="tableau_descproduit">Description</th>
			<th class="tableau_puissanceproduit">Puissance (kW)</th>
			<th class="tableau_prixhtproduit">Prix HT</th>
			<th class="tableau_prixttcproduit">Prix TTC</th>
			<th class="tableau_tvaproduit">TVA</th>

		</thead>
		<tbody class="produits">
			<tr id="">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>




