<link rel="stylesheet" href="/public/assets/css/parametres/roles_privileges.css">

<%- include('../partials/topbar/topbar.ejs') %>

<div class="row">
    <div class="col-md-6">
        <h2>Rôles</h2>
    </div>
    <div class="col-md-6">
        <h2>Privilèges</h2>
    </div>
</div>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            <ul class="roles_liste">
                <% findedRoles.forEach((role) => { %>
                    <li class="role_item">
                        <p><%= role.nom %></p>
                        <p>00</p>
                    </li>
                <% }) %>    
            </ul>
            <a class="addrole">
                <p>Ajouter une équipe</p>
                <i class="fas fa-plus btn_item hover_btn3"></i>
            </a>
        </div>



        <div class="col-md-6">
            <ul class="privileges_liste">
                <% findedPrivileges.forEach((privilege) => { %>
                    <li class="privilege_item">
                        <p><%= privilege.nom %></p>
                    </li>
                <% }) %>
            </ul>
            <div class="validsupprrole">
                <i class="fas fa-times btn_item hover_btn3"></i>
                <i class="fas fa-check btn_item hover_btn3"></i>

            </div>

        </div>
    </div>





    <div class="row">
        <div class="col-md-6">
            <h2>Utilisateurs</h2>

            <ul class="utilisateur_liste">
                <li class="utilisateur_item">
                    <select>
                        <option>Utilisateur</option>
                    </select>
                    <select>
                        <option>Rôle</option>
                    </select>
                    <div class="validsupprutilisateur">
                        <i class="fas fa-times btn_item hover_btn3"></i>
                        <i class="fas fa-check btn_item hover_btn3"></i>
                    </div>
                </li>
                
            </ul>

            <a class="addutilisateur">
                <p>Ajouter un utilisateur</p>
                <i class="fas fa-plus btn_item hover_btn3"></i>
            </a>

        </div>

    </div>



</div>
