<link rel="stylesheet" href="/public/assets/css/parametres/sources.css">
<script type="text/javascript" src="/public/assets/js/parametres/parametres_sources.js"></script>

<%- include('../partials/topbar/topbar.ejs') %>




<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
                   <h2>SOURCES</h2>

            <ul class="sources_liste">
                <% findedSources.forEach((source) => { %>
                    <li class="source_item">
                            <p><%= source.nom %></p>
                    </li>
                <% }) %>
            </ul>
            <a class="addsource">
                <p>Ajouter une source</p>
                <i class="fas fa-plus btn_item hover_btn3 source"></i>
            </a>
            
            
            <div class="addsourceinput">
               <label>Nom de la nouvelle source :</label>
                <input type="text" id="source">
                <i class="fas fa-check btn_item hover_btn3 addsourcebtn"></i>
            </div>
        </div>



        <div class="col-md-6">
                              <h2>TYPES</h2>

            <ul class="types_liste">
                    <% findedTypes.forEach((type) => { %>
                        <li class="type_item">
                                <p><%= type.nom %></p>
                        </li>
                    <% }) %>
            </ul>
            <a class="addtype">
                <p>Ajouter un type</p>
                <i class="fas fa-plus btn_item hover_btn3 type"></i>
            </a>
            
            
              
            <div class="addtypeinput">
               <label>Nom de la nouvelle source :</label>
                <input type="text" id="type">
                <i class="fas fa-check btn_item hover_btn3 addtypebtn"></i>
            </div>
        </div>

    </div>
</div>
