<link rel="stylesheet" href="/public/assets/css/affichageSalle/affichageSalle.css">
<script defer type="text/javascript" src="/public/assets/js/affichageSalle/affichageSalle.js"></script>

<div class="loadingbackground">
    <img class="loading" src="/public/assets/images/loading-gif-orange-8.gif" alt="loadingGif">
</div>

<div class="container-fluid ecran">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2>Objectif en cours : <span id="div_objectif">0</span></h2>
                </div>
                <div class="col-md-12" id="div_vendeurs">
                    
                </div>
            </div>
        </div>
        <div class="col-md-4" id="div_telepros">

        </div>
        <div class="col-md-2" id="div_ventes">
            <div class="ctn_qualicom ">
                <div class="ctn_couronne_quali">
                    <img class="qualicom" src="/public/assets/images/couronne.png">
                </div>
                <img class="qualicom" src="/public/assets/images/qualicom.png">
            </div>
            <div class="ventequalicom" id="nbVentes">0</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" class="defileParent">
            <div id="div_info" class="defile"></div>
        </div>
    </div>
</div>