#facturation_factures_topbar > .topbar_hover{
    opacity: 1;
}

.ctn_table th {
    padding: 10px 2px 10px 2px !important;
}

.td_options {
    width: 200px;
}

#divShowAddFacture {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    text-align: right;
    padding-left: 20px;
}

#divShowAddFacture p {
    margin: 0;
    margin-right: 10px;
    padding: 0;
    padding-left: 20px;
}

.boxCreateModify .row input {
    text-align: right;
}

#showPrestation td {
    background-color: transparent;
    border: transparent;
    color: black;
    cursor: default;
    padding: 5px;
}

#showPrestation td > input {
    width: 100%;
    margin: 0;
    padding : 0;
}

#showPrestation tfoot td {
    text-align: right;
}

#divAcompte {
    display: flex;
    flex-direction: row;
    margin: 0 15px 0 15px;
    padding: 15px;
}

#divAcompte label:first-child {
    display: flex;
    flex: 1;
}

#divContentAcompte {
    display: flex;
    flex: 3;
}

#divAcompte input[type=number] {
    flex: 2;
    text-align: right;
}

.bumpRadio {
    flex: 0.1;
    margin: 0;
}

.bumpRadio input {
    width: 0;
    height: 0; 
    opacity : 0;
}

input:checked + .labelBumpRadio {
    font-size: 20px;
    font-weight: bold;
}

.labelBumpRadio:hover {
    cursor: pointer;
}

#divPrestationOrDevis {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: 0 15px 0 15px;
    padding: 15px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#modalPaiement {
    width: 40%;
}

#modalPaiement .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}

#modalPaiement .row {
    margin: 0 15px 0 15px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#modalPaiement .row > label {
    display: flex;
    flex: 1;
}

#modalPaiement .row > input, #modalPaiement .row > select {
    display: flex;
    flex: 3;
}

#modalPaiement .modalSubmit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

#modalPaiement {
    padding: 0 !important;
}

#modalPaiement .boxInfos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}