<div class="row telec_boutons">
    <div class="colonnes_bouton1">
        <div class="boutons_ligne ligne2">
            <button id="rdv_1" class="hover_btn1">
                <p>rdv</p>
            </button>
        </div>
        <div class="boutons_ligne ligne3">
            <button id="action_16" class="hover_btn1">
                <p>Refus</p>
            </button>
            <button id="horscriteres_5" class="hover_btn1" >
                <p>Hors critères</p>
            </button>
            
            <button id="action_3" class="hover_btn1">
                <p>Blacklist</p>
            </button>
        </div>
    </div>
    <div class="colonnes_bouton2">
        <div class="boutons_ligne ligne4">
            <button id="action_12" class="hover_btn1">
                <p>Societe Tjrs Active</p>
            </button>
            <button id="action_14" class="hover_btn1">
                <p>Litige</p>
            </button>
        </div>
    </div>
    <div class="close_client">
        <a href="#" onclick="location.href = '/badging/rechercher-un-badging'; return false;">
            <div class=" btn_switch_client hover_btn1">
                <i class="fas fa-times"></i>
            </div>
        </a>
    </div>  
</div>
