<link rel="stylesheet" href="/public/assets/css/facturation/factures.css">
<script defer src="/public/assets/js/facturation/factures.js"></script>

<div class="loadingbackground">
    <img class="loading" src="/public/assets/images/loading-gif-orange-8.gif" alt="loadingGif">
</div>

<%- include('../partials/topbar/topbar.ejs') %>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2>Factures</h2>
        </div>
    </div>
    <div class="row">

    </div>
</div>