#calendar{
    width: 90%;
    margin: auto;
    margin-top: 50px;;
}


/*
.fc-day-grid-container{
    overflow: hidden !important;
}
*/


.fc-button-primary, .fc-button {

    border-radius: 15px;
    background-color: #f3705a !important;
    border : none !important;
    color: #fff !important;
    transition: all 0.2s;
}

.fc-button-primary:hover , .fc-button:hover{
background-color: #e6e6e6 !important;
    color: #3c3c3c !important;
    cursor: pointer !important;
}

.fc-button-primary:focus {
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
    background-color: #e6e6e6 !important;
    color : #3c3c3c !important;
}

.fc-button:disabled {
    background-color: #e6e6e6 !important;
    color: #3c3c3c !important;
}

#calendar .fc-body td {   
    padding: 0 5px !important;
}


