body{
font-family: 'Montserrat', sans-serif;
font-weight: 300 !important;
}

/*
orange : #f3705a
*/

/*************************** STRUCTURE DEFAUT ***********************/

.loading{
    width: 150px;
        height: 150px;
        position: relative;
        top: 40%;
        left: 45%;
    }
    
    .loadingbackground{
    width: 100%;
        height: 100%;
        position: absolute;
        /* display: flex; */
        z-index: 10000000;
        background-color: white;
        opacity: 1;
    }

.mainfluid{
    background-color: #f2f2f2; 
    flex-direction: row;
        height: 100vh;
    position: relative;
}

.background_maincontainer{
    z-index: 1;
    width : 15%;
}

.maincontainer{
    z-index: 1;
    background-color: #fff;
    padding-bottom: 50px;
    height: 100vh;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 1400px !important; 
    margin: auto;
    top: 0;
    margin-top: -105px;
    position: relative;
}
.mainlogo{
    display: flex;
    text-align: center;
    height: 50px;
}

.mainlogo img{
    width : 25%;
    margin: auto;
}

.alert{
    position: absolute;
    top : 70px;
    width : 100%;
}

.hello{
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}

.campagne{
    background-color: #5ca3ff ! important
}

/*
.row{
    width: 100%;
    padding: 0 5px;
}
*/



.titre_responsivemobile{
    display : none;
}


/*************************** TOP BAR ***********************/



.topbar{
    width : 100%;
    height: 70px;
    background-color: #f3705a ;
        display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1000000;
    text-transform: uppercase;
    position: relative;
}

.menu{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: flex-end;
}
    
        #burger_topbar{
        display: none;
    }   
    

.topbar li{
    font-size: 18px;
    list-style: none;
    color: #fff;
    position: relative;
    height: 100%;
    padding-top: 23px;
}

.topbar li:hover{
    cursor : pointer;
}

.topbar a{
     text-decoration: none;
    color : #fff;
        padding: 0 20px;
}

.topbar_hover{
    width: 100%;
    height: 5px;
    background: #fff;
    margin-top: 16px;
    opacity: 0;
}

#commerciaux_dash_topbar:hover > .topbar_hover{
    opacity: 1;
}
#commerciaux_a-traiter_topbar:hover > .topbar_hover{
    opacity: 1;
}
#commerciaux_ventes_topbar:hover > .topbar_hover{
    opacity: 1;
}

#dirco_dash_topbar:hover > .topbar_hover{
    opacity: 1;
}
#dirco_agenda_topbar:hover > .topbar_hover{
    opacity: 1;
}

#dirco_rdv_topbar:hover > .topbar_hover{
    opacity: 1;
}
#dirco_histo_topbar:hover > .topbar_hover{
    opacity: 1;
}
#dirco_rapportAgency_topbar:hover > .topbar_hover {
    opacity: 1;
}


#telec_dash_topbar:hover > .topbar_hover{
    opacity: 1;
}
#telec_prospection_topbar:hover > .topbar_hover{
    opacity: 1;
}
#telec_agenda_topbar:hover > .topbar_hover{
    opacity: 1;
}



#mainchoices_topbar:hover > .topbar_hover{
    opacity: 1;
}

#accueil_topbar{
height: 78.5px;
}
#accueil_topbar:hover > .topbar_hover{
    opacity: 1;
}



#manager_dash_topbar:hover > .topbar_hover{
    opacity: 1;
}

#manager_prospection_topbar:hover > .topbar_hover{
    opacity: 1;
}

#manager_agenda_topbar:hover > .topbar_hover{
    opacity: 1;
}
#manager_objectifs_topbar:hover > .topbar_hover{
    opacity: 1;
}
#manager_sms_topbar:hover > .topbar_hover {
    opacity: 1;
}
#manager_rapportActivite_topbar:hover > .topbar_hover {
    opacity: 1;
}




#lead_gestion_topbar:hover > .topbar_hover{
    opacity: 1;
}

#lead_donnees_topbar:hover > .topbar_hover{
    opacity: 1;
}

#lead_campagnes_topbar:hover > .topbar_hover{
    opacity: 1;
}
#lead_import_topbar:hover > .topbar_hover{
    opacity: 1;
}




#marketing_gestion_topbar:hover > .topbar_hover{
    opacity: 1;
}

#marketing_suivi_topbar:hover > .topbar_hover{
    opacity: 1;
}

#marketing_besoins_topbar:hover > .topbar_hover{
    opacity: 1;
}






#param_commerciaux_topbar:hover > .topbar_hover{
    opacity: 1;
}

#param_marketing_topbar:hover > .topbar_hover{
    opacity: 1;
}

#param_utilisateurs_topbar:hover > .topbar_hover{
    opacity: 1;
}
#param_privileges_topbar:hover > .topbar_hover{
    opacity: 1;
}
#param_secteurs_topbar:hover > .topbar_hover{
    opacity: 1;
}

#param_moncompte_topbar:hover > .topbar_hover{
    opacity: 1;
}




#stats_campagnes_topbar:hover > .topbar_hover{
    opacity: 1;
}

#stats_sources_topbar:hover > .topbar_hover{
    opacity: 1;
}

#stats_telemarketing_topbar:hover > .topbar_hover{
    opacity: 1;
}
#stats_commerciaux_topbar:hover > .topbar_hover{
    opacity: 1;
}
#stats_badging_topbar:hover > .topbar_hover{
    opacity: 1;
}
#stats_podium_topbar:hover > .topbar_hover{
    opacity: 1;
}

#adv_ventes_topbar:hover > .topbar_hover{
    opacity: 1;
}
#pose_dashboard_topbar:hover > .topbar_hover{
    opacity: 1;
}


#badging_add_topbar:hover > .topbar_hover{
    opacity: 1;
}

#badging_search_topbar:hover > .topbar_hover{
    opacity: 1;
}

#badging_manage_topbar:hover > .topbar_hover{
    opacity: 1;
}


#accueil_topbar img{
    max-width: 35px;
    max-height: 35px;
}

.topbar_active{
    opacity: 1 !important;
}

 
.sousmenu{
    position: absolute;
    bottom: 0;
    top: 70px;
    width: 100%;
        margin: 0;
    padding: 0;
}

.sousmenu li{
    width: 100%;
    height: 70px;
    background-color: #f3705a;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    padding-top: 0;
    border-bottom : 5px solid #fff;
}


.sousmenu{
    display: none;
}

.sousmenu li a:hover{
    cursor: pointer;
    color : #3c3c3c;
}



#manager_prospection_topbar:hover .sousmenu_prospecter{
display: block;
}

#manager_objectifs_topbar:hover .sousmenu_objectifs{
    display: block;
}

#telec_prospection_topbar:hover .sousmenu_prospecter{
display: block;
}




#param_commerciaux_topbar:hover .sousmenu_commerciaux{
display: block;
}

#param_marketing_topbar:hover .sousmenu_telemarketing{
display: block;
}
#param_utilisateurs_topbar:hover .sousmenu_utilisateurs{
display: block;
}


#stats_telemarketing_topbar:hover .sousmenu_telemarketing{
    display: block;
}

#stats_commerciaux_topbar:hover .sousmenu_commerciaux{
    display: block;
}





.aide{
    position: absolute;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1;
}
.aide a{
    padding: 0 15px;
}

.ask{
    
    right: 15px;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 100px;
    color : #fff !important;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

.fa-sign-out-alt{
 right: 15px;
    width: 35px !important;
    height: 35px !important;
    border: 2px solid #fff;
    border-radius: 100px;
    padding: 6px !important;
    color : #fff !important;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

.contenu_aide{
    position: absolute;
    top : 25px;
    right: 25px;
    width : 250px;
        height: 350px;
    overflow-y: auto;
    display: none;
    background: #fff;
    -webkit-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.15);
        color: #3c3c3c;
    font-size: 10px;
    text-align: left;
    padding: 15px;
    text-transform: none;
    border-radius: 15px;
}

.askctn:hover > .contenu_aide{
    display: flex !important;
    flex-direction: column;
}


.iconask{
    display: flex !important;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.iconask p{
    margin: 0;
    padding: 0 10px;
    width : 200px;
    
}

.iconask i{
    height: 25px;
    width: 28px;
    font-size: 12px;
    padding-top: 5px;
    margin: 2px;
}
 


/********************* STYLES BOUTONS ****************************/

.btn_fb {
    width: 80%;
    padding: 4% 2% 1% 2%;

    color: #f3705a;
    background: #fff;
    transition: all 0.2s;
    border-radius: 15px;
    border: none;
}

.btn_fb:hover{ 
color: #fff;
background-color: #f3705a;
    cursor : pointer;
}

.btn_item {
        color: #f3705a;
    background-color: #fff;
    /* border: 1px solid #fff; */
    border-radius: 25px;
    -webkit-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.15);
-moz-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.15);
box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.15);
    width: 45px !important;
    height: 45px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    font-size: 16px;
    padding: 15px;
        margin: 5px 12px;
    transition: all 0.2s;
}

.hover_btn3, .hover_btn1{
    transition : 0.2s all;
}

.hover_btn3:hover{
        transform: scale(1.3);
    cursor : pointer;
}


.hover_btn1:hover{
        transform: scale(1.1);
    cursor : pointer;
}

.hover_btn2:hover{
        transform: scale(1.05);
    cursor : pointer;
}





.btn_item2 {
color: #f3705a;
    background-color: #fff;
    /* border: 1px solid #fff; */
    border-radius: 25px;
    -webkit-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.15);
    width: 25px !important;
    height: 25px;
    text-align: center;
    display: flex !important;
    justify-content: center;
    font-size: 10px;
    padding-top: 8px;
    margin: 5px 0px;
    margin-top: 0 !important;
    padding: 7px !important;
    transition: all 0.2s;
    align-content: center;
    align-items: center;
}

button:focus {
 outline: none;
}
/********************* STYLES icones ****************************/
/*

.fas{
    transition: all 0.2s;
}
.fas:not(.fa-plus):hover{
    transform: scale(1.3);
     cursor: pointer;
}
*/


  

/*************************** STYLES TEXTES *********************/
h2{
    color : #f3705a;
    font-size : 20px;
    display: inline-block;
    text-transform: uppercase;
    padding-right: 15px;
    padding-left: 25px;
    margin-top : 25px;

}

h4{
    color : #f3705a;
    font-size : 16px;
    display: inline-block;
    text-transform: uppercase;
    padding-right: 15px;
    padding-left: 25px;
    margin-top : 25px;

}

.error_message{
        color: crimson;
    margin: 15px 15px 0 15px;
    font-weight: 600;
}

.info_message{
        color: green;
    margin: 15px 15px 0 15px;
    font-weight: 600;
}


/****************************** STYLES ELEMENTS ******************/


#graphe{
    width: 95% !important;
    margin: 25px;
}

input{
    height: 30px;
    background-color: #f2f2f2;
        margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    margin-left : 15px;
    margin-right : 15px;
    padding:5px;
}

.infos_client input{
    margin-left : 0;
    margin-right : 0;
}


select{
    height: 25px;
    border: none;
padding: 0px 25px 0 10px;
    background-image: url(/public/assets/images/fleche_select.png);
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px;
    -webkit-appearance: none;
    height: 30px;
    background-color: #f2f2f2;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
}



input[type="checkbox"]{
    border : 1px solid #3c3c3c !important;
    width: 12px !important;
    height: 12px !important;
    background: #f2f2f2 !important;
    box-shadow: none !important;
    
}

input[type="checkbox"]::checked{
    border : 1px solid #3c3c3c !important;
    width: 18px !important;
    height: 18px !important;
    background: #f2f2f2 !important;
    box-shadow: none !important;
    
}


#couleur{
   
    height: 30px;
    border: none;
    padding: 0;
    background-color: #fff;
}
#couleur:hover{
   cursor: pointer;
}


.ui-datepicker-calendar td{
    padding: 0 !important;
}


.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
    background: #f3705a !important;
    box-shadow: #f3705a 0 1px 3px 0 inset !important;
    color: #fff;
    font-weight: 700;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
    color: #000000 !important;
    background: #e6e6e6 !important;
    box-shadow: none !important;
}

.xdsoft_datetimepicker .xdsoft_calendar th {
    font-size: 12px;
    text-align: center;
    background-color: #f3705a;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
} 
.xdsoft_datetimepicker td {
    padding: 0 !important;
    margin: 0;
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #f3705a;
    background: #f3705a;
    font-weight: normal;
    color: #ffffff;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #f3705a;
    background: rgba(243, 112, 90, 0.7);
    color: #ffffff;
}


.ui-widget.ui-widget-content {
    z-index: 5 !important;
}


/*
input[type="checkbox"]::after {
    content: " ";
    display: inline-block;
    height: 7px;
    width: 12px;
    margin-top: 1px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
}

input[type="checkbox"]::unchecked + input[type="checkbox"]::after{
    content:none;
    
}

input[type="checkbox"]::checked + input[type="checkbox"]::after{
    content:" ";
    
}
*/

/******************************* SCROLL BAR***********************/

/**  STYLE 11 */

.maincontainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fff;
    border : 1px solid #f2f2f2;
    z-index: 100;
    position: absolute;
}

.maincontainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
        z-index: 100;
        position: relative;



    background: rgba(243,112,90,0.2);
}

.maincontainer::-webkit-scrollbar-thumb:hover {
    background: rgba(243,112,90,0.5);
        z-index: 100;

}

.maincontainer::-webkit-scrollbar-thumb:active {
    background: rgba(243,112,90,0.5);
        z-index: 100;

}

.maincontainer::-webkit-scrollbar {
	width: 10px;
    background: rgba(243,112,90,0.1);
        z-index: 100;

}




.privileges_liste::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fff;
    border : 1px solid #f2f2f2;
    z-index: 100;
    position: absolute;
}

.privileges_liste::-webkit-scrollbar-thumb {
  border-radius: 10px;
        z-index: 100;
        position: relative;



    background: rgba(243,112,90,0.2);
}

.privileges_liste::-webkit-scrollbar-thumb:hover {
    background: rgba(243,112,90,0.5);
        z-index: 100;

}

.privileges_liste::-webkit-scrollbar-thumb:active {
    background: rgba(243,112,90,0.5);
        z-index: 100;

}

.privileges_liste::-webkit-scrollbar {
	width: 10px;
    background: rgba(243,112,90,0.1);
        z-index: 100;

}


/*
.maincontainer::-webkit-scrollbar {
	width: 10px;
    background: rgba(243,112,90,0);
        z-index: 100;

}
*/

/****************************** TABLE *********************************/


.ctn_table {
    margin: 15px 25px 0 25px;
    overflow-x: auto;
}



.ctn_table table {
    width: 100%;
    border-collapse: collapse;
        margin-bottom: 25px;

}

.ctn_table th {
    font-size: 12px;
    text-align: center;
    background-color: #f3705a;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 15px;
}


.ctn_table td {
    text-align: center; 
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #999999;
    padding: 5px 10px !important;
}

.ctn_table tr:hover > td{
    transition:  all 0.2s;
}

.ctn_table tr:hover > td{
    background-color: #f3705a;
    color : #ffffff;
    cursor : pointer
}



.tabulator .tabulator-header .tabulator-col {

    border-right: none;
    background: #f3705a;
    color: #ffffff;
    text-align: center;
    font-weight: 300;

}

.tabulator-row {
    position: relative;
    box-sizing: border-box;
    min-height: 22px;
    text-align: center;
    background-color: #f2f2f2 !important;
    border: none;
}


.tabulator-row:hover{
    background-color: #f3705a !important;
    color : #ffffff;
    cursor : pointer
}
.tabulator .tabulator-footer .tabulator-calcs-holder .tabulator-row {
    background-color: #f3705a !important;
    color : #ffffff;
        font-weight: 300;

}

/****************************** MODAL *********************************/


.modal{
    overflow: initial;
    width : 50%;
    max-width: 100% !important;
    height: auto;
    padding : 25px !important;
}

.modal h2{
    width: 100%;
        color : #f3705a;
    font-size : 20px;
    display: inline-block;
    text-transform: uppercase;

    margin-top : 25px;
}

.modal h3{
    width: 100%;
    color : #f3705a;
    font-size : 16px;
    display: inline-block;
    text-transform: uppercase;

    margin-top : 25px;
}
