.selectdate_rdv{
    margin : 15px 25px;
    width: 100%.;
}

.rdvs{
    width : 100%;
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.checksousctn{
    display: flex;
    flex-direction: row;
    margin-right: 10%;
}

.resultatrdv{
    margin-top : 10px;
    width : 15%;
}

.supprimerrdv{
    font-size: 12px;
    color : #f3705a;
    text-decoration: underline;
    text-align: right;
    width: 100%;
    display: block;
    
}

.supprimerrdv:hover{
     color : #3c3c3c   
}

.validrdv{
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: center;
}

.modal h2{
    margin-top : 0;
}

input[type="checkbox"]{
    margin-top : 3px;
}

.modal{
        
    width: 1400px !important;

}


.ctn_infos_client{
    margin: 0 !important;
}

.modifier_infos_client{
    display: none;
}