

/***************************** GENERAL  ****************************/
@media screen and (max-width: 480px) {


    /***************************** GENERAL  ****************************/


    .titre_noresponsive {
        display: none;
    }

    .titre_responsivemobile {
        display: block;
    }

    .contenu_aide {

        right: -62px;

    }

    .login {
        width: 80%;
    }
    
    h2 {
     padding-left: 5px; 
}
    input {
     margin-left: 5px; 
}

    /***************************** MAINCHOICES ****************************/

    .maincontainer {
        width: 100% !important
    }

    p,
    label,
    select,
    input {
        font-size: 10px;
    }
  

    .listchoices li h3 {

        font-size: 14px;
    }

    .listchoices li img {
        height: 50px;
    }

    .listchoices {
        flex-direction: column;
        align-content: center;
    }

    .listchoices li {
        width: 65%;
    }

    .listchoices li h3 {
        margin-top: 0;

    }



    /***************************** VENDEUR DASH ****************************/


    .rdvs_vendeur_dash {
        height: auto;
    }

    .ctn_rdvs_auj,
    .ctn_rdvs_lend {
        flex-direction: column;
        align-items: center;
    } 

    .titre_rdv_lendemain {
        display: none;
    }

    .titremobile_rdv_lendemain {
        display: block;
    }

    .rdvs_vendeur_dash {
        background-color: #ffffff;
        border: 1px solid #ffffff;

    }

    #map_rdv {
            margin: 50px 35px;
    }
    
    .modal {
    padding: 15px !important;
}
    
    #graphe{
        margin: 0;
    }
    .modal h2 {
    padding-left: 10px !important;
}

    
        /***************************** VENDEUR VENTES ****************************/

    
    .selectdate_rdv {
    margin: 15px 5px;
}



    /***************************** LISTE RDV ****************************/

    .selectdate_rdv {
        flex-direction: column;
    }


    .rdvs {
        justify-content: center;
    }

    /***************************** INFO CIENTs ****************************/

    .ctn_infos_client {

        flex-direction: column;
            margin: 0 5px;
    overflow: scroll;

    }

    .infos_client,
    .infos_client2 {
        
            width: 150%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
    
    .checkchauff {
    width: 45%;
}
    
    .modifier_infos_client {
    width: 33%;
}
    
 


    /***************************** MON COMPTE ****************************/

    .changerpassword {
        width: 80%;

    }

    /***************************** AGENDA ****************************/

    #formevent,
    .date_ctn,
    .date,
    .rdate {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .fc-toolbar {

    flex-direction: column;
}



    .rdate .form-control {
        width: 75%;
        margin-top: 15px;
    }
    
    
      
    #formEvent label{
        width : 100%;
    }
    
    #formevent {
    width: 100%;
    }
    

    /***************************** BADGING ****************************/

    
    .typesource {

    margin: 10px 0;
}
    .choicetypesource label {
    width: auto;
}

    .choicetypesource {
    width: 100%;
    flex-direction: column;
    padding: 5px 0;
}

    
    .telec_boutons {
    width: 100%;
    FLEX-DIRECTION: column;
}
    
    .colonnes_bouton1 {
    width: 100%;
}
    
    .colonnes_bouton2 {
    width: 100%;
}



    .boutons_ligne {
    justify-content: center;
}

	
	.typesource label, .typesource select, .typesource input, .typesource span{
		width: 80%;
		margin-left: 0;
		    display: inline-block;
		margin-right: 0;
	}


		.rdv_ctn label, .rdv_ctn select, .rdv_ctn input, .rdv_ctn span{
		width: 80%;
		margin-left: 0;
		    display: inline-block;
		margin-right: 0;
	}













}
