

@media screen and (max-width: 1100px) {

    .login {
        width: 45%;

    }

    /***************************** TOPBAR ****************************/

    .sousmenu {
        top: 58px;
    }

    .topbar a {
        padding: 0 10px;
    }

    /***************************** MAINCHOICES ****************************/

    .maincontainer {
        width: 100% !important
    }

    p,
    label,
    select,
    input {
        font-size: 12px;
    }

    .listchoices li h3 {

        font-size: 17px;
    }

    .listchoices li img {
        height: 100px;
    }



    /***************************** MAINCHOICES ****************************/

    .topbar li {
        font-size: 10px;

    }

    #accueil_topbar img {
        max-width: 25px;
        max-height: 25px;
        margin-top: 15px;
    }

    .topbar {
        height: 55px;

    }

    /***************************** TAB COM ****************************/

    .ctn_rdv_auj {
        margin: 15px 10px 50px 10px;
        height: 175px;
        width: 140px;
    }


    .ctn_rdv_auj p {
        font-size: 10px;
        line-height: 10px;
    }



    /***************************** INFOS CLIENT ****************************/
    
    h6 input{
        max-width: 90%;
    }

    .value_info_client {
        font-size: 13px;
        height: 25px;
    }

    .value_info_client2 {
        font-size: 13px;
        height: 25px;
    }

    .value_info_client3 {
        font-size: 13px;
    }

    .checkchauff {
        width: 30%;
    }

    .panneaux { 
        width: 24% !important;
    }

    .bilan {
        width: 17% !important;
    }

    .value_info_client h6 {
        width: 40%;
    }

    .metier input[type=text] {
        font-size: 13px;
    }

    .type_chauffage input[type=text],
    .type_chauffage input[type=number] {
        width: 6%;
    }


    .ctn_infos_client select {
        font-size: 8px;
    }

/*
    .annee input[type=number] {
        width: 35%;
    }
*/

    .value_info_client2 .row input[type="checkbox"] {
        margin-right: 2px;
        margin-left: 5px;
    }

    .value_info_client input[type=text],
    .value_info_client2 input[type=text],
    .value_info_client input[type=number],
    .value_info_client2 input[type=number] {

        margin-left: 5px;

    }
       .value_info_client2 .row {
    margin-top: 25px;
    }
    .value_info_client2 .row > *{
    height: 15px !important;
}


    /***************************** TELEC PROSPECTION ****************************/

    button p {
        font-size: 12px;
    }

    .ligne3 button,
    .ligne1 button,
    .ligne2 button,
    .ligne4 button,
    .ligne5 button,
    .ligne6 button {
        height: 38px;

    }

    .btn_switch_client {
        height: 75px !important;
    }

    .directive_deps button {
        width: 35px;
        height: 30px;
    }

    .def_directive input {
        width: 70%;
    }

    .def_directive label {
        width: 15%;
        font-weight: 500;
    }

    /***************************** PARAM ****************************/

    .secteur_deps button {
        width: 35px;
        height: 30px;
    }

    .def_secteur input {
        width: 70%;
    }

    /***************************** AGENDA ****************************/


    .fc-day-grid-container {
        height: 100% !important;
    }


    /******************** ADD CLIENT *********************/


    .typesource {
        max-width: 100%;
    }

    /******************** BADGING *********************/


    .typesource {
        flex-direction: column;
    }

    .choicetypesource {
        width: 100%;
    }

    .choicetypesource label {
        min-width: 150px;
    }
    
    .searchclient_ctn {

    flex-direction: column;
}
        .searchclient label {
        min-width: 150px;
    }

    /***************************** AUTRE ****************************/
    .hasdatepicker {
        width: 130px;
    }

    td {
        font-size: 11px;
    }

}





































































@media screen and (max-width: 850px) {


    /***************************** MAINCHOICES ****************************/

    .listchoices {
        margin: 0;
    }

    .listchoices li img {
        height: 50px;
    }

    .listchoices li h3 {
        font-size: 12px;
    }
    
    .listchoices li {
    border-radius: 25px;
}

    /***************************** DASH VENDEUR ****************************/

    .ctn_rdv_auj p {
        font-size: 6px;
        line-height: 8px;
    }

    .ctn_rdv_auj {
        margin: 15px 5px 50px 5px;
        height: 165px;
        width: 105px;
        padding: 15px;

    }


    .ctn_rdv_auj h6 {
        font-size: 10px;
    }



    /***************************** TOPBAR ****************************/



    .menu {
        flex-direction: column;
        background-color: #f3705a;
    }

    .topbar li {
        background-color: #f3705a;
        width: 165px;
        border-bottom: 3px solid #ffffff;
    }

    #accueil_topbar {
        height: 55.5px;
        position: absolute;
        top: 0;
        left: 0;
        border: none;
    }

    #accueil_topbar img {

        margin-top: -7px;
    }



    #burger_topbar {
        display: flex;
        flex-direction: column;
        width: 50px;
        align-items: center;
        align-content: center;
        justify-content: center;
        /* text-align: center; */
        /* vertical-align: sub; */
        position: absolute;
        top: 0;
        border: none;
        left: 50px;
    }

    #burger_topbar img {
        width: 25px;
        height: 25px;
    }

    .topbar_hover {
        height: 0;

    }




    /*********** BURGER COMMERCIAL ****************/



    #commerciaux_dash_topbar {
        display: none;
    }

    #commerciaux_a-traiter_topbar {
        display: none;
    }

    #commerciaux_ventes_topbar {
        display: none;
    }

    #dirco_dash_topbar {
        display: none;
    }

    #dirco_agenda_topbar {
        display: none;
    }

    #dirco_rdv_topbar {
        display: none;
    }

    #dirco_histo_topbar {
        display: none;
    }

    #dirco_rapportAgency_topbar {
        display: none;
    }

    .activeburger ~ #commerciaux_dash_topbar {
        display: block;
        margin-top: 55px;
    }

    .activeburger ~ #commerciaux_a-traiter_topbar {
        display: block;
        margin-top: 55px;
    }

    .activeburger ~ #commerciaux_ventes_topbar {
        display: block;
    }

    .activeburger ~ #dirco_dash_topbar {
        display: block;
        margin-top: 55px;
    }

    .activeburger ~ #dirco_agenda_topbar {
        display: block;
    }

    .activeburger ~ #dirco_rdv_topbar {
        display: block;
    }

    .activeburger ~ #dirco_histo_topbar {
        display: block;
    }

    .activeburger ~ #dirco_rapportAgency_topbar {
        display: block;
    }


    /*********** BURGER TELEMARKETING ****************/



    #telec_dash_topbar {
        display: none;
    }

    #telec_prospection_topbar {
        display: none;
    }

    #telec_agenda_topbar {
        display: none;
    }

    #manager_dash_topbar {
        display: none;
    }

    #manager_prospection_topbar {
        display: none;
    }

    #manager_agenda_topbar {
        display: none;
    }

    #manager_objectifs_topbar {
        display: none;
    }

    #manager_sms_topbar {
        display: none;
    }

    #manager_rapportActivite_topbar {
        display: none;
    }




    .activeburger ~ #telec_dash_topbar {
        margin-top: 55px;

        display: block;
    }

    .activeburger ~ #telec_prospection_topbar {
        display: block;
    }

    .activeburger ~ #telec_agenda_topbar {
        display: block;
    }

    .activeburger ~ #manager_dash_topbar {
        display: block;
        margin-top: 55px;

    }

    .activeburger ~ #manager_prospection_topbar {
        display: block;
        height: fit-content;
    }

    .activeburger ~ #manager_agenda_topbar {
        display: block;
    }

    .activeburger ~ #manager_objectifs_topbar {
        display: block;
    }

    .activeburger ~ #manager_sms_topbar {
        display: block;
    }

    .activeburger ~ #manager_rapportActivite_topbar {
        display: block;
    }

    .sousmenu {
        position: relative;
        top: 0;
    }

    .sousmenu li {

        height: 30px;
        background-color: #b64634 !important;

        border-bottom: 1px solid #fff;
    }


    /*********** BURGER MARKETING ****************/


    #marketing_gestion_topbar {
        display: none;
    }

    #marketing_suivi_topbar {
        display: none;
    }

    #marketing_besoins_topbar {
        display: none;
    }



    .activeburger ~ #marketing_gestion_topbar {
        display: block;
        margin-top: 55px;
    }

    .activeburger ~ #marketing_suivi_topbar {
        display: block;
    }

    .activeburger ~ #marketing_besoins_topbar {
        display: block;
    }


    /*********** BURGER LEADS ****************/



    #lead_gestion_topbar {
        display: none;
    }

    #lead_donnees_topbar {
        display: none;
    }

    #lead_campagnes_topbar {
        display: none;
    }

    #lead_import_topbar {
        display: none;
    }


    .activeburger ~ #lead_gestion_topbar {
        display: block;
        margin-top: 55px;
    }

    .activeburger ~ #lead_donnees_topbar {
        display: block;
    }

    .activeburger ~ #lead_campagnes_topbar {
        display: block;
    }

    .activeburger ~ #lead_import_topbar {
        display: block;
    }

    /*********** BURGER STATS ****************/


    #stats_campagnes_topbar {
        display: none;
    }

    #stats_sources_topbar {
        display: none;
    }

    #stats_telemarketing_topbar {
        display: none;
    }

    #stats_commerciaux_topbar {
        display: none;
    }

    .activeburger ~ #stats_campagnes_topbar {
        display: block;
        margin-top: 55px;
    }

    .activeburger ~ #stats_sources_topbar {
        display: block;
    }

    .activeburger ~ #stats_telemarketing_topbar {
        height: fit-content;

        display: block;
    }

    .activeburger ~ #stats_commerciaux_topbar {
        height: fit-content;
        display: block;
    }



    /*********** BURGER PARAM ****************/


    #param_commerciaux_topbar {
        display: none;
    }

    #param_marketing_topbar {
        display: none;
    }

    #param_utilisateurs_topbar {
        display: none;
    }

    #param_privileges_topbar {
        display: none;
    }

    #param_secteurs_topbar {
        display: none;
    }

    #param_moncompte_topbar {
        display: none;
    }
    #param_produits_topbar {
        display: none;
    }


    .activeburger ~ #param_commerciaux_topbar {
        display: block;
        margin-top: 55px;
        height: fit-content;
    }

    .activeburger ~ #param_marketing_topbar {
        display: block;
        height: fit-content;

    }

    .activeburger ~ #param_utilisateurs_topbar {
        display: block;
        height: fit-content;

    }

    .activeburger ~ #param_moncompte_topbar {
        display: block;
        height: fit-content;

    }

    .activeburger ~ #param_produits_topbar {
        display: block;
        height: fit-content;

    }











    /*********** BURGER ADV ****************/

    #adv_ventes_topbar {
        display: none;
    }

    .activeburger ~ #adv_ventes_topbar {
        display: block;
        margin-top: 55px;

    }


    /*********** BURGER POSES ****************/

    #pose_dashboard_topbar {
        display: none;
    }

    .activeburger ~ #pose_dashboard_topbar {
        display: block;
        margin-top: 55px;

    }


    /*********** BURGER BADGING ****************/

    #badging_add_topbar {
        display: none;
    }
    #badging_search_topbar {
        display: none;
    }
    #badging_manage_topbar {
        display: none;
    }

    .activeburger ~ #badging_add_topbar {
        display: block;
        margin-top: 55px;
    }
    .activeburger ~ #badging_search_topbar {
        display: block;
        height: fit-content;
    }
    .activeburger ~ #badging_manage_topbar {
        display: block;
        height: fit-content;
    }
    
    
    /*********** BURGER TERRAIN ****************/

    #terrain_add_topbar {
        display: none;
    }
    #terrain_search_topbar {
        display: none;
    }   
    #terrain_liste_topbar {
        display: none;
    }
    #terrain_objectifs_topbar {
        display: none;
    }

    .activeburger ~ #terrain_add_topbar {
        display: block;
        margin-top: 55px;

    }
        .activeburger ~ #terrain_search_topbar {
        display: block;
        height: fit-content;

    } 
        .activeburger ~ #terrain_liste_topbar {
        display: block;
        height: fit-content;

    } 
        .activeburger ~ #terrain_objectifs_topbar {
        display: block;
        height: fit-content;

    } 


    /*********** BURGER FACTURATION ****************/
    #facturation_prestations_topbar {
        display: none;
    }
    #facturation_devis_topbar {
        display: none;
    }
    #facturation_factures_topbar {
        display: none;
    }
    #facturation_parametrage_topbar {
        display: none;
    }

    .activeburger ~ #facturation_prestations_topbar {
        display: block;
        margin-top: 55px;
        height: fit-content;
    }
    .activeburger ~ #facturation_devis_topbar {
        display: block;
        height: fit-content;
    }
    .activeburger ~ #facturation_factures_topbar {
        display: block;
        height: fit-content;
    }
    .activeburger ~ #facturation_parametrage_topbar {
        display: block;
        height: fit-content;
    }



    /***************************** LISTE RDV ****************************/

    .ctn_infos_client {
        flex-direction: column;
    }

    .infos_client,
    .infos_client2 {
        width: 100%;
    }

    .infos_client2 {
        padding: 10px 15px 70px 10px;
    }

    .modifier_infos_client {
        z-index: 100000;
        width: 13%;
        margin: auto;
        display: inline-block;
    }

    .value_info_client {
        font-size: 13px;
        height: 30px;
    }



    /***************************** PROSPECTER ****************************/

    .ligne3 button,
    .ligne1 button,
    .ligne2 button,
    .ligne4 button,
    .ligne5 button,
    .ligne6 button {
        height: 60px;
    }

    .ligne3 button p,
    .ligne1 button p,
    .ligne2 button p,
    .ligne4 button p,
    .ligne5 button p,
    .ligne6 button p {
        padding: 0;
        margin: 0;
    }

    .colonnes_bouton1 {
        width: 45%;
    }

    .colonnes_bouton1 .boutons_ligne {
        padding: 0 0px 0 25px;
    }

    .colonnes_bouton .boutons_ligne {
        padding: 0;
    }

    .btn_switch_client {
        height: 75px !important;
        width: 75px !important;
    }

    /***************************** OBJECTIFS ***************************/

    .objectifsjour {
        flex: 0 0 100%;
        max-width: 100%;
    }



    /***************************** DIRECTIVES **************************/



    .secteur_deps button {
        width: 50px;
        height: 25px;
    }

    .directive_deps button {
        width: 50px;
        height: 30px;
    }


    /***************************** MARKETING **************************/


    .formcommande {
        max-width: 100%;
    }

    .gestion_ctn {
        flex-direction: column;
    }



    /******************** PARAM ROLES PRIVILEGES *********************/

    .role_item {
        width: 80%;
    }







    
    
    
    
    
    
    
}








