.ctn_infos_client {
    justify-content: space-between;
    margin: 0 25px;
    position: relative;
}

.infos_client {
    padding: 15px;
    background-color: #f2f2f2;
    border: 1px solid #999999;
    width: 48%;
}

.value_info_client {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    font-weight: 500;
    align-items: baseline;
    font-size: 18px;
    justify-content: space-between;
}

.value_info_client .row {
    width: 100%;
    margin-left: 0px;
    height: 40px;
}

.value_info_client2 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    font-weight: 500;
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
    /*    height: 50px;*/
}

.value_info_client2 .row {
    width: 100%;
    margin-left: 0px;
    height: 40px;
}

.value_info_client2 input[type=checkbox] {
    margin-top: 1px;
    margin-right: 5px;
}

input {
    margin-left: 10px;
}

.fas {
    margin-right: 10px;
    margin-left: 5px;
}

.value_info_client h6,
.fa-user {
    color: #f3705a;
}

.type_chauffage {
    justify-content: space-between;
}

.type_chauffage label {
    margin-top: -5px;
}

input[type=checkbox] {
    margin-top: 10px;
}

.separateur {
    margin: 5px auto 25px auto;
    height: 5px;
    border-bottom: 1px solid #999999;
    width: 75%;
}



.infos_client input[type=textarea] {
    height: 65px;
}


.modifier_infos_client {
        position: absolute;
    z-index: 100000;
    /* width: 100%; */
    text-align: center;
    margin-top: 100px;
    margin-left: 46.5%;
}



.btn_modifier_client {
    transition: all 0.2s;
}

.btn_modifier_client:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.btn_modifier_client {
    width: 65px;
    height: 65px;
    border-radius: 50px;
    font-size: 25px;
    padding: 18px 5px 5px 12px;
}

.fa-pen:hover {
    transform: scale(1) !important;
}

.fa-check:hover {
    transform: scale(1) !important;
}

.boutons_ligne {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    padding: 0 20px 0 25px;
}

.boutons_ligne button {

    padding: 10px 4px;
    -webkit-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.15);
}

.boutons_ligne button img {
    max-height: 100%;
}


.ligne1 button {

    margin: 2px 10px;

    width: 25%;
    height: 75px;
    border: 0.25px solid #999999;
    border-radius: 20px;
    background-color: #fff;
}

.ligne2 button {

    margin: 2px 5px;

    width: 50%;
    height: 50px;
    border: 0.25px solid #999999;
    border-radius: 20px;
}

.ligne2 button:nth-child(1) {
    background-color: #7bb758
}

.ligne2 button:nth-child(2) {
    background-color: #bc8bd6
}

button p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}



.ligne3 button {

    margin: 2px 5px;

    width: 25%;
    height: 50px;
    border: 0.25px solid #999999;
    border-radius: 20px;
    background-color: #e29e3b;
}



.ligne4 button {

    margin: 2px 5px;

    width: 50%;
    height: 50px;
    border: 0.25px solid #999999;
    border-radius: 20px;
    background-color: #e29e3b;
}

.ligne5 {
    margin: 25px 0;
}


.ligne5 button {

    margin: 2px 5px;

    width: 25%;
    height: 50px;
    border: 0.25px solid #999999;
    border-radius: 20px;
    background-color: #c12d2d;
}

.ligne6 button {

    margin: 2px 5px;

    width: 100%;
    height: 50px;
    border: 0.25px solid #999999;
    border-radius: 20px;
    background-color: #fff;

}

.ligne6 p {
    color: #3c3c3c !important;
    font-weight: 500;
}

button {
    transition: all 0.2s;
}

button:hover {
    transform: scale(1.1);
}


.commentaire_general {
    margin: 15px 25px;
    width: 96%;
    font-weight: 500;
}

.commentaire_general input[type=textarea] {
    width: 90%;
    height: 100%;
}


/*

.col-md-6 h2{

    margin-top : 5px;

}
*/

.ctn_historique {
    margin: 0 25px;
}

.historique_tableau {
    width: 100%;
    border-collapse: collapse;
}

.historique_tableau th {
    font-size: 12px;
    text-align: center;
    background-color: #f3705a;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 15px;
}


.tableau_commentaire {
    width: 50%;
}

.historique_tableau td {
    text-align: center;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #999999;
    padding: 5px 10px;
}

.historique_tableau tr {}

.commentaire3 {
    text-align: left !important;
}


/******/


h6 input[type=text] {
    color: #f3705a;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
}


p input[type=text] {
    color: #3c3c3c;
    font-size: 18px;
    font-weight: 500;
    border: none;
    width: 100%;
}

.metier input[type=text]{
        color: #3c3c3c;
    font-size: 18px;
    font-weight: 500;
    border: none;
}

.surface input[type=number]{
        color: #3c3c3c;
    font-size: 18px;
    font-weight: 500;
    border: none;
            width: 20%;
}

.facture input[type=number]{
        color: #3c3c3c;
    font-size: 18px;
    font-weight: 500;
    border: none;
        width: 20%;
}

.annee input[type=number]{
        color: #3c3c3c;
    font-size: 18px;
    font-weight: 500;
    border: none;
        width: 35%;
}


.phone {
    width: 33%;
    
}
 
.phone p{
    max-width: 75%;
}

.address p{
    width: 90%;
}

.metier select{
    width: 50%;
}



h6 input[type=text]:focus {
border-bottom : 1px solid #3c3c3c
}


p input[type=text]:focus {
border-bottom : 1px solid #3c3c3c

}

.metier input[type=text]:focus{
border-bottom : 1px solid #3c3c3c

}

.surface input[type=number]:focus{
border-bottom : 1px solid #3c3c3c

}

.facture input[type=number]:focus{
border-bottom : 1px solid #3c3c3c

}

.annee input[type=number]:focus{
border-bottom : 1px solid #3c3c3c

}





.switch_client {
        position: fixed;
    z-index: 5000;
    /* width: 100%; */
    text-align: center;
    top: 45vh;
    right: 12%;

}



.btn_switch_client {
    transition: all 0.2s;
}

.btn_switch_client:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.btn_switch_client {
        width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 40px;
    padding: 30px 5px 5px 15px;
}



.fa-forward:hover {
    transform: scale(1) !important;
}














/******/
