#manager_prospection_topbar > .topbar_hover{
    opacity: 1;
}

#div_telec{
    padding: 0 25px;
    margin-top: 20px;
}

.telec_item{
    width : 100%;
    margin : 15px 0;
    border-radius: 15px;
    background-color : #f3705a;
    padding : 10px 25px;
    align-content: center;
    align-items: center;
        color : #fff;
    transition: all 0.2s;
}

.telec_item:hover, .telec_item:active, .telec_item:focus, .telec_item:focus-within, .telec_active{
    background-color: #e6e6e6;
    color : #3c3c3c;
    cursor: pointer;
}

.tel_item1{
    font-size: 12px;
    justify-content: space-between;
    font-weight: 400;
}

.tel_item1 div:nth-child(2){
    font-weight: 600;
    font-size: 15px
}

.tel_item2{
    font-size: 10px;
    justify-content: flex-end;
    font-weight: 400;
}

.tel_item2 p{
    padding-bottom: 0;    
    margin-bottom: 0;  
    margin-left: 10px;
}

#div_directives{
    padding: 0 15px;
}

#div_directives h2 {
    margin-top: 0;
}

#div_selectors {
    display: flex;
    flex-direction: column;
}

#listeVendeurs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#div_selectors select, #div_selectors #listeVendeurs, #div_selectors label {
    width: 100%;
    max-width: 100%;
    flex: 1;
    margin: 5px 0;
}

#div_selectors label {
    text-align: center;
}

#div_sources {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#type_de_fichier, #sous_type {
    width: 40% !important;
    max-width: 40% !important;
    flex: 2 !important;
}

.vendeur {
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.vendeur input {
    margin: 0;
    margin-left: 15px;
}

.vendeur label {
    margin: 0 15px;
}

#div_deps {
    margin-top: 15px;
}

#div_deps .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#div_deps button {
    border-radius: 5px;    
    background-color: #f3705a;    
    color : #fff ;    
    margin: 2px 5px;
    border: none;
    font-weight: 500;
    transition: all 0.2s;
    width: 55px;
    height: 40px;
}

.dep_active {
    background-color: #e6e6e6!important;
    color: #3c3c3c !important;
}

.dep_disabled {
    background-color: #f2f2f2 !important;
    color: #f2f2f2 !important;
}

#div_deps button:hover {    
    background-color: #e6e6e6!important;
    color: #3c3c3c !important;
}

#div_deps button.dep_disabled:hover {
    cursor: not-allowed;
    background-color: #f2f2f2 !important;
    color : #f2f2f2 !important;
}

#div_validation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-top: 25px;
    width: 100%;
    align-items: center;
}

#btnValidate, #btnCancel {
    margin: 2px 10px;
    width: 25%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.15);
}

.campagnes > button:disabled {
    background-color: #f4f4f4; 
    color: #f2f2f2;
}

.campagnes > button:hover:disabled {
    background-color: #f4f4f4 !important;
    color: #f2f2f2 !important;
}

.campagnes button{
    border-radius: 5px;
    background-color: #e6e6e6;
    color: #3c3c3c;
    margin: 2px 2px;
    border: none;
    font-weight: 500;
    transition: all 0.2s;
    width: 125px;
    height: 40px;
}

.campagnes_active{
     background-color: #f3705a !important;   
    color : #fff !important;
}

.campagnes button:hover {
     background-color: #f3705a !important;   
    color : #fff !important;
}    





.directive_secteur{
    margin-top : 25px;
}
.directive_secteur button{
    border-radius: 5px;
    background-color: #e6e6e6;
    color: #3c3c3c;
    margin: 5px;
    border: none;
    font-weight: 500;
    transition: all 0.2s;
        width: auto;
    height: 40px;
}

.directive_secteur button:hover {
    background-color: #f3705a !important;   
    color : #fff !important;
}

/* .directive_type{
    margin-top: 15px;
    justify-content: space-between;
        align-items: center;
} */





















/*/