 #manager_objectifs_topbar > .topbar_hover{
    opacity: 1;
}


.creneaudispo{
    background : #7bb758;
}


.creneaupasdispo {
    background-color: #c12d2d !important
}

.objectifsjour{
        flex: 0 0 50%;
    max-width: 50%;
}