#manager_prospection_topbar > .topbar_hover{
    opacity: 1;
}


.daterdv_noedit, .comrdv_noedit{
    display: none;
}

.daterdv_edit{
    margin-left : 0 !important;
}

.comrdv_edit{
    display: block;
    width : 100%;
    margin-top : 15px;
    margin-left: 0 !important;
}
















/*/