     <link rel="stylesheet" href="/public/assets/css/vendeur/vendeur_ventes.css">
     <link rel="stylesheet" href="/public/assets/css/vendeur/vendeur_dashboard.css">

     <link rel="stylesheet" href="/public/assets/css/adminventes/adv_ventes.css">
     <script type="text/javascript" src="/public/assets/js/bloc_rdv.js"></script>


     <%- include('../partials/topbar/topbar.ejs') %>

     <div class="container-fluid">
         <div class="row titre_manager_listerdv">
             <div class="col-md-6">
                 <h2>Ventes</h2>
             </div>
         </div>


         <div class="row searchventes">
             <div class="col-md-12">


                 <div class="container-fluid">

                     <div class="row searchnameclient">
                         <label>Rechercher : </label>
                         <input type="text" name="rechercher_listeventes" placeholder="Nom client">
 <label>Du : </label>
                         <input type="date" name="rechercher_listeventes">
                         <label>Au : </label>
                         <input type="date" name="rechercher_listeventes">
                     </div>

                 </div>
             </div>

             <div class="row rdvs">
             </div>
         </div>
