
<link rel="stylesheet" href="/public/assets/css/leads/leads_recus.css">

    <%- include('../partials/topbar/topbar.ejs') %>


<div class="row titre_rechercher_lead">
    <div class="col-md-6">
        <h2>Rechercher LEAD</h2> 
    </div>
</div>


<div class="row">

        <div class="row selectdate_rdv">
            <label for="nomlead">Nom :</label>
            <input type="text" name="nomlead" id="nomlead"/>
            <label for="prenomlead">Prénom :</label>
            <input type="text" name="prenomlead" id="prenomlead"/>
            <label for="deplead">DEP :</label>
            <input type="text" name="deplead" id="deplead"/>
            <label for="tellead">Tel :</label>
            <input type="text" name="tellead" id="tellead"/>
            
             <button type="submit" class="validsearch"><i class="fas fa-check btn_item hover_btn3"></i></button>

        </div>

 


<div class="ctn_table">

<table>
        <thead>
            <th  class="tableau_dateimport">Date d'import</th>
            <th  class="tableau_leadnom">Nom</th>
            <th  class="tableau_leadprenom">Prénom</th>
            <th  class="tableau_source">Source</th>
            <th class="tableau_dep">DEP</th>
            <th class="tableau_typecampagne">Type de campagne</th>
            <th class="tableau_campagne">Campagne</th>
        </thead>
        <tbody>
           
                <tr id="historique_ligne">
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
  
        </tbody>
    </table>
    
   </div>