<link rel="stylesheet" href="/public/assets/css/manager/manager_directives.css">
<script type="text/javascript" src="/public/assets/js/manager_directives.js"></script>

<%- include('../partials/topbar/topbar.ejs') %>



<div class="row">
    <div class="col-md-6">
        <h2>Objectifs rendez-vous</h2>
    </div>

</div>

       
       
<div class="row">
    <div class="col-md-6">
        <h2>Jour 00 MoisMois</h2>
        
        
<div class="ctn_table">

<table>
        <thead>
            <th class="tableau_commercial">Commercial</th>
            <th class="tableau_matin">Matin</th>
            <th class="tableau_midi">Midi</th>
            <th class="tableau_soir">Soir</th>
            <th class="tableau_total">Total</th>
        </thead>
        <tbody>
<tr>
    <td>Nom Commercial</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>0</td>

</tr>
        <tr>
    <td>Nom Commercial</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>0</td>

</tr>
        </tbody>
    </table>
    
   </div>
        
    </div>
    
    
    
    
    <div class="col-md-6">
        <h2>Jour 00 MoisMois</h2>
        
        
<div class="ctn_table">

<table>
        <thead>
            <th class="tableau_commercial">Commercial</th>
            <th class="tableau_matin">Matin</th>
            <th class="tableau_midi">Midi</th>
            <th class="tableau_soir">Soir</th>
            <th class="tableau_total">Total</th>
        </thead>
        <tbody>
<tr>
    <td>Nom Commercial</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>0</td>

</tr>
        <tr>
    <td>Nom Commercial</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>0</td>

</tr>
        </tbody>
    </table>
    
   </div>
        
    </div>
    
    
    
    <div class="col-md-6">
        <h2>Jour 00 MoisMois</h2>
        
        
<div class="ctn_table">

<table>
        <thead>
            <th class="tableau_commercial">Commercial</th>
            <th class="tableau_matin">Matin</th>
            <th class="tableau_midi">Midi</th>
            <th class="tableau_soir">Soir</th>
            <th class="tableau_total">Total</th>
        </thead>
        <tbody>
<tr>
    <td>Nom Commercial</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>0</td>

</tr>
        <tr>
    <td>Nom Commercial</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>0</td>

</tr>
        </tbody>
    </table>
    
   </div>
        
    </div>
    
    
    
    <div class="col-md-6">
        <h2>Jour 00 MoisMois</h2>
        
        
<div class="ctn_table">

<table>
        <thead>
            <th class="tableau_commercial">Commercial</th>
            <th class="tableau_matin">Matin</th>
            <th class="tableau_midi">Midi</th>
            <th class="tableau_soir">Soir</th>
            <th class="tableau_total">Total</th>
        </thead>
        <tbody>
<tr>
    <td>Nom Commercial</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>0</td>

</tr>
        <tr>
    <td>Nom Commercial</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>0</td>

</tr>
        </tbody>
    </table>
    
   </div>
        
    </div>
    
    
    
    <div class="col-md-6">
        <h2>Jour 00 MoisMois</h2>
        
        
<div class="ctn_table">

<table>
        <thead>
            <th class="tableau_commercial">Commercial</th>
            <th class="tableau_matin">Matin</th>
            <th class="tableau_midi">Midi</th>
            <th class="tableau_soir">Soir</th>
            <th class="tableau_total">Total</th>
        </thead>
        <tbody>
<tr>
    <td>Nom Commercial</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>0</td>

</tr>
        <tr>
    <td>Nom Commercial</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>00 00:00</td>
    <td>0</td>

</tr>
        </tbody>
    </table>
    
   </div>
        
    </div>

</div>
