<link rel="stylesheet" href="/public/assets/css/manager/manager_listerdv.css">
<link rel="stylesheet" href="/public/assets/css/listrdv_modalrdv.css">
<link rel="stylesheet" href="/public/assets/css/bloc_rdv.css">
 
    <%- include('../partials/topbar/topbar.ejs') %>

<div class="loadingbackground">
    <img class="loading" src="/public/assets/images/loading-gif-orange-8.gif" alt="loadingGif">
</div>

<div class="row titre_manager_listerdv">
    <div class="col-md-6">
        <h2>Rendez-vous</h2> 
        <a><i class="fas fa-download hover_btn3 agency"></i></a>
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <div class="row selectdate_rdv">
            <p>Du:</p>
            <input type="text" name="datedebut" class="datepicker" value="<%= date %>"  autocomplete="off">
            <p> au: </p>
            <input type="text" name="datefin" class="datepicker" value=""  autocomplete="off">
            <p class="nbrdvs "></p>
            <p class="rdvconf"></p>

        </div>
    </div>
    <div class="col-md-4">
        <div class="row selectdate_rdv">
            <label>Rechercher : </label>
            <input type="text" id="rechercher_listerdv" name="rechercher_listerdv">
        </div>
    </div>
    <div>
    </div>
    <div class="row rdvs" id="displayrdv">
        <% findedRdvs.forEach((rdv) => { %>
        <%- include('../partials/blocrdvoptions/bloc_rdv_jour', {options_template: 'option_bloc_rdv_liste', rdv: rdv}); %>
        <% }); %>
    </div>
</div>
<div id="modal_liste_RDV"></div>

<script type="text/javascript" src="/public/assets/js/manager_listerdv.js"></script>
<script type="text/javascript" src="/public/assets/js/bloc_rdv.js"></script> 