<link rel="stylesheet" href="/public/assets/css/manager/manager_listerdv.css">
<link rel="stylesheet" href="/public/assets/css/vendeur/vendeur_dashboard.css">
<link rel="stylesheet" href="/public/assets/css/teleconseiller/telec_prospection.css">
<script type="text/javascript" src="/public/assets/js/manager_listerdv.js"></script>
<script type="text/javascript" src="/public/assets/js/bloc_rdv.js"></script>

    <%- include('../partials/topbar/topbar.ejs') %>


<div class="row titre_manager_listerdv">
    <div class="col-md-6">
        <h2>Rendez-vous</h2> 
        <a><i class="fas fa-download hover_btn3"></i></a>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="row selectdate_rdv">
            <p>Du:</p>
            <input type="text" name="datedebut" class="datepicker" value="<%= date %>" />
            <p> au: </p>
            <input type="text" name="datefin" class="datepicker" value="" />

        </div>
    </div>
    <div class="col-md-6">
        <div class="row selectdate_rdv">
            <label>Rechercher : </label>
            <input type="text" id="rechercher_listerdv" name="rechercher_listerdv">
        </div>
    </div>

    <div class="row rdvs">
        <% findedRdvs.forEach((rdv) => { %>
        <%- include('../partials/blocrdvoptions/bloc_rdv_jour', {options_template: 'option_bloc_rdv_liste', rdv: rdv}); %>
        <% }); %>
    </div>

    <div id="modal_liste_RDV"></div>