<link rel="stylesheet" href="/public/assets/css/manager/manager_dashboard.css">

<script type="text/javascript" src="/public/assets/js/teleconseiller/telec_dashboard.js"></script>
<script type="text/javascript" src="/public/assets/js/manager_dashboard.js"></script>
<%- include('../partials/topbar/topbar.ejs') %>

<div class="row">
    <div class="col-md-6">
<h2>Statistiques mois courant</h2>
<canvas id="graphe" width="1500" height="600"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
<h2>Statistiques Téléconseillers</h2>
    </div>
</div>




<div class="ctn_table"> 

<table id="nomtelepro">
    
</table>
    
   </div>