<div class="ctn_table">
    <table>
        <thead>
            <tr>
                <th>Commercial</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        <% if(infoObject && infoObject.message) { %>
            <tr><td colspan="2"><%= infoObject.message %></td></tr>
        <% } else { %>
            <% for(const vendeur of listeVendeurs) { %>
                <tr>
                    <td class="com"><%= `${vendeur.nom} ${vendeur.prenom}` %></td>
                    <td class="total"><%= vendeur.objectif %></td>
                </tr>
            <% } %>
        <% } %>
        </tbody>
    </table>
</div>