<link rel="stylesheet" href="/public/assets/css/marketing/besoins_commandes.css">

    <%- include('../partials/topbar/topbar.ejs') %>



     <div class="row">
         <div class="col-md-6">
             <h2>Besoins commandes</h2>
         </div>

     </div>
     
        
<div class="ctn_table">

<table>
        <thead>

            <th class="tableau_dep">DEPs</th>
            <th class="tableau_nbV">LNb Vendeurs</th>
            <th class="tableau_rdvsem">Besoin RDV/SEM</th>
            <th class="tableau_rdvjour">Besoin RDV/Jours</th>
            <th class="tableau_commande">Leads à commander</th>
            <th class="tableau_tauxtrans">Taux transf LT/RDV</th>


        </thead>
        <tbody>
           
                <tr id="historique_ligne">
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                
                </tr>
  
        </tbody>
    </table>
    
   </div>