<link rel="stylesheet" href="/public/assets/css/vendeur/dirco_agenda.css">

    <%- include('../partials/topbar/topbar.ejs') %>



     <div class="row">
         <div class="col-md-6">
             <h2>Agenda</h2>
         </div>

     </div>


<div id="calendar">
    
</div> 
