     <link rel="stylesheet" href="/public/assets/css/vendeur/vendeur_ventes.css">
     <link rel="stylesheet" href="/public/assets/css/bloc_rdv.css">
<link rel="stylesheet" href="/public/assets/css/listrdv_modalrdv.css">

<div class="loadingbackground">
    <img class="loading" src="/public/assets/images/loading-gif-orange-8.gif" alt="loadingGif">
</div>

     <%- include('../partials/topbar/topbar.ejs') %>


     <div class="container-fluid">
         <div class="row titre_manager_listerdv">
             <div class="col-md-6">
                 <h2>Ventes</h2>
             </div>
         </div>


         <div class="row searchventes">
             <div class="col-md-12">


                 <div class="container-fluid">

                     <div class="row searchnameclient">
                         <label>Rechercher : </label>
                         <input type="text" name="rechercher_listeventes" placeholder="Nom client">
                         <label>Du : </label>
                         <input type="text" class="datepicker" name="datedebut" id="datedebut" autocomplete="off">
                         <label>Au : </label>
                         <input type="text" class="datepicker" name="datefin" id="datefin"  autocomplete="off">
                     </div>

                 </div>
             </div>

             <div class="row rdvs">
                <% findedRdvs.forEach((rdv) => { %>
                    <%- include('../partials/blocrdvoptions/bloc_rdv_jour', {rdv: rdv}); %>
                <% }) %>
             </div>
         </div>
         <div id="modal_liste_RDV"></div>
         <script type="text/javascript" src="/public/assets/js/vendeur/ventes.js"></script>
         <script type="text/javascript" src="/public/assets/js/bloc_rdv.js"></script>