<div class="ctn_rdv_auj">
                 <h6>00:00</h6>
                 <p>Nom Prénom</p>
                 <p>CP Ville</p>
                 <p>Adresse Adresse Adresse Adresse </p>
                 
                 
                 <%= let chemin=("./partials/"+options)  %>
                 <% include (chemin) %>
             </div>