<div class=" row hors_criteres_ctn">
    <button class="btn_traitement">Age</button>
    <button class="btn_traitement">Situation professionnelle</button>
    <button class="btn_traitement">Locataire</button>
    <button class="btn_traitement">Equipement</button>
    <button class="btn_traitement">Revenus</button>
</div>