<div class="row rappel_ctn">
   <div>
    <label>Jour du rappel :</label><input type="date" name="date_rappel">
    </div>    
    <div>
    <label>Heure du rappel :</label><input type="time" name="heure_rappel">
    </div>
</div>