<div class="row rdv_ctn">
    <label>Jour du rendez-vous :</label><input type="date" name="date_rdv">
    <label>Heure du rendez-vous :</label><input type="time" name="heure_rdv">
    
    <label>Rendez-vous pris avec :</label>
    <select name="rdvprisavec">
       <option>Monsieur</option> 
       <option>Madame</option> 
       <option>Les deux</option> 
    </select>
</div>