<!--    pour la page courante, ajouter la classe  "topbar_active" à la div qui a déjà la classe "topbar_hover" -->


<li id="telec_dash_topbar">
    <a href="/telec/tableau-de-bord">Tableau de bord</a>
    <div class="topbar_hover"></div>
</li>

<li id="manager_dash_topbar">
    <a href="/manager/tableau-de-bord">Tableau de bord</a>
    <div class="topbar_hover"></div>
</li>

<li id="manager_prospection_topbar">
    <a href="#">Prospection</a>
    <div class="topbar_hover"></div>

    <ul class="sousmenu sousmenu_prospecter">
        <li>
            <a href="/telec/prospection">Prospecter</a>
        </li>
        <li>
            <a href="/manager/liste-rendez-vous">Liste RDV</a>
        </li>
        <li>
            <a href="/manager/directives">Directives</a>
        </li>
        <li>
            <a href="/telec/rechercher-client">Rechercher client</a>
        </li>
    </ul>

</li>

<li id="telec_agenda_topbar">
    <a href="/telec/agenda">Agenda</a>
    <div class="topbar_hover"></div>
</li>

<li id="manager_agenda_topbar">
    <a href="/manager/agenda">Agenda</a>
    <div class="topbar_hover"></div>
</li>