
<div class="topbar">
    <ul class="menu">

       <%- //include('topbar_telemarketing.ejs') %>
       <%- //include('topbar_mainchoices.ejs') %>
       <%- //include('topbar_commerciaux.ejs') %>

   
    </ul>
</div>
