<div class="traitementphase2">

    <div class="phase2_extend"></div>

    <div class="commentaire_general row">
        <label for="commentaire2">Commentaire</label>
        <input type="text">
    </div>
    <i class="fas fa-check btn_item"></i>
</div>
