<div class="traitementphase2">

    <i class="fas fa-times btn_item"></i>

<!--  <%- include('hors_criteres.ejs') %>-->
<!--  <%- include('rdv.ejs') %>-->
<!--  <%- include('rappel.ejs') %>-->


    <div class="commentaire_general row">
        <label for="commentaire2">Commentaire</label>
        <input type="text">
    </div>
    <i class="fas fa-check btn_item"></i>



</div>
