<div class="row telec_boutons">
  
   
    <div class="colonnes_bouton1">
        <div class="boutons_ligne ligne1">
            <button class="action_2">
                <img src="/public/assets/images/c1.png">
            </button>
            <button class="action_2">
                <img src="/public/assets/images/c2.png">
            </button>
            <button class="action_2">
                <img src="/public/assets/images/c3.png">
            </button>
            <button>
                <img src="/public/assets/images/hangup.png">
            </button>
        </div>
        <div class="boutons_ligne ligne2">
            <button>
                <p>rdv</p>
            </button>
            <button class="action_8">
                <p>rappel</p>
            </button>
        </div>
        <div class="boutons_ligne ligne3">
            <button class="action_16">
                <p>Refus</p>
            </button>
            <button class="action_5">
                <p>Hors critères</p>
            </button>
            
            <button class="action_3">
                <p>Blacklist</p>
            </button>
        </div>
    </div>
    <div class="colonnes_bouton2">
        <div class="boutons_ligne ligne4">
            <button class="action_12">
                <p>Societe Tjrs Active</p>
            </button>
            <button class="action_14">
                <p>Litige</p>
            </button>
        </div>
        <div class="boutons_ligne ligne5">
            <button class="action_9">
                <p>Non attr</p>
            </button>
            <button class="action_4">
                <p>Err co</p>
            </button>
        </div>
        <div class="boutons_ligne ligne6">
            <button class="action_13">
                <p>Autre</p>
            </button>
        </div>
    </div>
    
    
<div class="switch_client">
    <div class="btn_item btn_switch_client">
        <i class="fas fa-forward"></i>
    </div>
</div>
</div>
