<link rel="stylesheet" href="/public/assets/css/poses/poses_dashboard.css">

<%- include('../partials/topbar/topbar.ejs') %>

<div class="row">
    <div class="col-md-6">
<h2>Agenda des poses</h2>
    </div>
</div>
