<link rel="stylesheet" href="/public/assets/css/statistiques/stats_vendeurs.css">

<%- include('../partials/topbar/topbar.ejs') %>

<div class="row">
    <div class="col-md-6">
        <h2>Satistiques Télémarketing</h2>
    </div>

</div>
