<link rel="stylesheet" href="/public/assets/css/statistiques/stats_telemarketing.css">

<%- include('../partials/topbar/topbar.ejs') %>
<div class="row">
    <div class="col-md-6">
        <h2>Satistiques Télémarketing</h2>
    </div>

</div>


<div class="row select_date_stats">
   <label>Du : </label>
    <input type="date">
   <label>au : </label>
    <input type="date">
    <a href="#"><i class="fas fa-check btn_item hover_btn3"></i></a>


</div>




<!--<img src="/public/assets/images/graph_ventes.png">-->




<div class="ctn_table">
 
    <table id="nomtelepro">
        <thead>
            <th>Téléconseiller</th>
            <th>Num Comp</th>
            <th>Refus</th>
            <th>RDV</th>
            <th>DEM</th>
            <th>VENTE(S)</th>
            <th>RDV/DEM</th>
            <th>RDV/Vente</th>
        </thead>
        <tbody>
            <tr class="">
                <td>Sébastien</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
           <tr class="">
                <td>Sybille</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
           <tr class="">
                <td>Alexane</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
           <tr class="">
                <td>Lucas</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
           <tr class="">
                <td>Enzo</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
           
        </tbody>
    </table>
    
   

</div>
