<link rel="stylesheet" href="/public/assets/css/statistiques/stats_telemarketing.css">

<link href="https://unpkg.com/tabulator-tables@4.5.2/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.5.2/dist/js/tabulator.min.js"></script>

<%- include('../partials/topbar/topbar.ejs') %>
<div class="row">
    <div class="col-md-6">
        <h2>Satistiques Télémarketing</h2>
    </div>
</div>

<div class="row select_date_stats">
    <label>Du : </label>
     <input type="text" name="datedebut" class="datepicker">
    <label>au : </label>
     <input type="text" name="datefin" class="datepicker">
     <a href="#"><i class="fas fa-check btn_item hover_btn3"></i></a>
 </div>

<div class="ctn_table">
    <div id="table"></table>
</div>

<script src="/public/assets/js/statistique/statistique_telemarketing.js"></script>  