<link rel="stylesheet" href="/public/assets/css/statistiques/stats_telemarketing_graphiques.css">

<%- include('../partials/topbar/topbar.ejs') %>
<div class="row">
    <div class="col-md-6">
        <h2>Satistiques Télémarketing</h2>
    </div>

</div>


<div class="row select_date_stats">
   <label>Du : </label>
    <input type="date">
   <label>au : </label>
    <input type="date">
    <a href="#"><i class="fas fa-check btn_item hover_btn3"></i></a>
</div>




<img src="/public/assets/images/graph_ventes.png">


