<link rel="stylesheet" href="/public/assets/css/statistiques/stats_fichiers.css">

<%- include('../partials/topbar/topbar.ejs') %>

<div class="row">
    <div class="col-md-6">
        <h2>Satistiques Fichiers</h2>
    </div>

</div>



<div class="row select_date_stats">
   <label>Du : </label>
    <input type="date">
   <label>au : </label>
    <input type="date">
    <a href="#"><i class="fas fa-check btn_item hover_btn3"></i></a>


</div>


<div class="ctn_table">
    
<table class="table table-striped table-condensed">
        <thead>
           <th>Source</th>
           <th>L recues</th>
           <th>L traitées + NRP</th>
           <th>L traitées</th>
           <th>RDV Bruts</th>
           <th>RDV Nets</th>
           <th>DEM</th>
           <th>Vente</th>
           <th>LT/RDV</th>
           <th>RDV/Vente</th>
           <th>DEM/Vente</th>
        </thead>
        <tbody>
            <tr>
               <td>COMPLEO</td>
               <td>59</td>
               <td>135</td>
               <td>75</td>
               <td>12</td>
               <td>11</td>
               <td>4</td>
               <td>1</td>
               <td>6.82</td>
               <td>11</td>
               <td>4</td>            
            </tr>
            <tr>
               <td>DOLEAD</td>
               <td>0</td>
               <td>96</td>
               <td>44</td>
               <td>8</td>
               <td>7</td>
               <td>2</td>
               <td>0</td>
               <td>6.29</td>
               <td>-</td>
               <td>-</td>            
            </tr>
            <tr>
                <td>EASYFICHIER</td>
                <td>0</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            
            <tr>
                <td>GEOREGIONAL</td>
                <td>0</td>
                <td>18</td>
                <td>16</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>0</td>
                <td>8</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>GEOMARKETING</td>
                <td>0</td>
                <td>217</td>
                <td>30</td>
                <td>8</td>
                <td>7</td>
                <td>5</td>
                <td>4</td>
                <td>4.29</td>
                <td>1.75</td>
                <td>1.25</td>
            </tr>
            <tr>
                <td>GEOPP</td>
                <td>0</td>
                <td>50</td>
                <td>20</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>GEOREGIONAL</td>
                <td>0</td>
                <td>2557</td>
                <td>1397</td>
                <td>73</td>
                <td>66</td>
                <td>47</td>
                <td>11</td>
                <td>21.17</td>
                <td>6</td>
                <td>4.27</td>
            </tr>
            <tr>
                <td>GETUPMEDIA</td>
                <td>51</td>
                <td>130</td>
                <td>68</td>
                <td>21</td>
                <td>15</td>
                <td>9</td>
                <td>3</td>
                <td>4.53</td>
                <td>5</td>
                <td>3</td>
            </tr>
            <tr>
                <td>LEAD ONE</td>
                <td>0</td>
                <td>8</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>PROCOMS</td>
                <td>0</td>
                <td>11</td>
                <td>10</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>0</td>
                <td>10</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>SIMULATEUR</td>
                <td>2</td>
                <td>2</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>    

                       
            
        </tbody>
        
        <tfoot>
            
                <th>Total</th>
                <th>112</th>
                <th>3228</th>
                <th>1662</th>
                <th>125</th>
                <th>109</th>
                <th>70</th>
                <th>19</th>
                <th>15.25</th>
                <th>5.74</th>
                <th>3.68</th>
            
        </tfoot>
        
    </table>
</div>
   
  
 
