<link rel="stylesheet" href="/public/assets/css/statistiques/stats_vendeurs.css">

<%- include('../partials/topbar/topbar.ejs') %>

<div class="row">
    <div class="col-md-6">
        <h2>Satistiques Commerciaux</h2>
    </div>

</div>


<div class="row select_date_stats">
   <label>Du : </label>
    <input type="date">
   <label>au : </label>
    <input type="date">
    <a href="#"><i class="fas fa-check btn_item hover_btn3"></i></a>


</div>


<div class="ctn_table">

<table class="table table-striped table-condensed">
        <thead>
            <th  class="tableau_vendeur">VENDEUR</th>
            <th  class="tableau_rdv">RDV</th>
            <th  class="tableau_dem">DEM</th>
            <th  class="tableau_rdvdem">RDV/DEM</th>
            <th  class="tableau_ventesb">Ventes B</th>
            <th  class="tableau_rdvventesb">RDV/VB</th>
            <th  class="tableau_ventesn">Ventes N</th>
            <th  class="tableau_rdvventesn">RDV/VN</th>
            <th  class="tableau_ventesp">Ventes P</th>
            <th  class="tableau_rdvventesp">RDV/VP</th>

        </thead>
        <tbody>
            <tr>
                <td>MAYEUX Alain</td>
                <td>5</td> 
                <td>4</td>
                <td>1.25</td>
                <td>1</td>
                <td>4</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
            
            </tr>
                       <tr>
                <td>BELKACEMI Dean</td>
                <td>9</td>
                <td>4</td>
                <td>1</td>
                <td>2</td>
                <td>4.5</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
            
            </tr>
                       <tr>
                <td>GAUTRIAUD Didier</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
            
            </tr>
                       <tr>
                <td>Badhia Evrard</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
            
            </tr>
                       <tr>
                <td>BERENGUER Fernando</td>
                <td>7</td>
                <td>7</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
            
            </tr>
                       <tr>
                <td>LANZICHER Frédéric</td>
                <td>9</td>
                <td>8</td>
                <td>1.13</td>
                <td>3</td>
                <td>3</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
            
            </tr>
                      
                                <tr>
                <td>PLAIRE Gregory</td>
                <td>8</td>
                <td>5</td>
                <td>1.6</td>
                <td>2</td>
                <td>4</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
            
            </tr>
                       <tr>
                <td>MAMADOU WALY</td>
                <td>9</td>
                <td>5</td>
                <td>1.8</td>
                <td>1</td>
                <td>1</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
            
            </tr>
                       <tr>
                <td>GRAS Mickael</td>
                <td>9</td>
                <td>7</td>
                <td>1.29</td>
                <td>2</td>
                <td>4.5</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
            
            </tr>
                       <tr>
                <td>JACQUET Nicolas</td>
                <td>13</td>
                <td>13</td>
                <td>1</td>
                <td>7</td>
                <td>1.8</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
            
            </tr>
                       <tr>
                <td>GIRARD Patrick</td>
                <td>8</td>
                <td>8</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
            
            </tr>
                       <tr>
                <td>FABRE Patrick</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
            
            </tr>
                        <tr>
                <td>LE BESCONT Vincent</td>
                <td>10</td>
                <td>9</td>
                <td>1.11</td>
                <td>2</td>
                <td>5</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
                <td>0000</td>
            
            </tr>
                       
            
        </tbody>
    </table>
   </div>
   
  
 
