#dirco_histo_topbar > .topbar_hover{
    opacity: 1;
}

#commerciaux_dash_topbar > .topbar_hover{
    opacity: 0 !important;
}
 
.selectdate_rdv{
    margin : 25px;
}

.daterdv_edit, .comrdv_edit, .etat_rdv .col-md-6:nth-child(1){
    display : none;
}

select[name="idVendeur"], select[name="idEtat"]{
    pointer-events: none;
    background-image: none;
}



.btn_modifier_client {
     visibility: hidden;
}



.supprimerrdv{
    display : none !important;
}