
#dirco_rdv_topbar > .topbar_hover{
    opacity: 1;
}

#commerciaux_dash_topbar > .topbar_hover{
    opacity: 0 !important;
}

 

.rdvs_vendeur_dash{
    background-color: #f2f2f2;
    border: 1px solid #999999;
    height: fit-content;
    max-width: 100%;
    margin: 25px 0;
        padding-bottom: 15px; 
} 

.confirme{
    background-color: #f3705a !important;
}

.btn_modifier_client, .daterdv_edit, .etat_rdv, .supprimerrdv{
    display : none;
}

.validrdv{
    margin-top : 0 !important;
}