#dirco_histo_topbar > .topbar_hover{
    opacity: 1;
}

#commerciaux_dash_topbar > .topbar_hover{
    opacity: 0 !important;
}
 
.selectdate_rdv{
    margin : 25px;
}

.daterdv_edit, .comrdv_edit, .etat_rdv .col-md-6:nth-child(1){
    display : none;
}

select[name="idVendeur"], select[name="idEtat"]{
    pointer-events: none;
    background-image: none;
}



.btn_modifier_client {
     visibility: hidden;
}



.supprimerrdv{
    display : none !important;
}

.rdvconf{
    padding-left: 15px;
}

.btn_modifier_client, .daterdv_edit, .etat_rdv, .supprimerrdv{
    display : none !important;
}

.validrdv{
    margin-top : 0 !important;
} 

.nbrdvs {
    margin-bottom: 0 !important;
    margin-left: 25px;
}