#commerciaux_ventes_topbar > .topbar_hover{
    opacity: 1;
}

#commerciaux_dash_topbar > .topbar_hover{
    opacity: 0 !important;
}

/*.blocrdv_etat, .blocrdv_commercial{
    display: none;
}*/

#div_info p {
    padding: 0 15px;
}

.blocrdv_etat{
    display: none;
}



.modal h2 {
    margin-top: 0 !important;
    padding-left: 0 !important;
}
.modifier_infos_client {
    display: none;
}

.validrdv {
    margin-top : 0 !important;
}

.etat_rdv, .compterendu_rdv{
    display: none;
}

.daterdv_edit, .comrdv_edit{
    display: none;
}
.ctn_infos_client {
    margin: 0 !important;
}

.supprimerrdv{
    display : none !important;
}