#manager_objectifs_topbar > .topbar_hover {
    opacity: 1;
}

.message{
	padding : 0 25px;
}


.goaffichage a{
	color : #f3705a !important;
		padding-left: 25px;

}
.goaffichage a:hover{
	color : #000 !important;
}
